-r requirements.txt
-r black-requirements.txt
-r mypy-requirements.txt

flake8
pytest
pytest-cov
pytest-mock
pytest-asyncio>=0.26.0,<1.0
responses>=0.10.6,<0.26
requests-mock==1.12.1
aioresponses==0.7.8
httmock
wooper
