mypy==1.15.0
pydantic
types-Flask
types-Jinja2
types-python-dateutil
types-pytz
types-requests<2.32.4.20250914  # https://github.com/python/typeshed/issues/10825
types-tzlocal
types-Werkzeug
types-protobuf
typing-extensions==4.15.0
