{% extends "layout_wire.html" %}

{% block contentMain %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            {% include "login_messages.html" %}
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">{{ gettext("Change Password") }}</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" id="formChangePassword" method="post">
                                {{ form.csrf_token }}

                                <div style="display:none">
                                    <!-- this is for password manager only -->
                                    {{ form.email(autocomplete="username") }}
                                    {{ form.firebase_status(type="hidden", id="firebase-status") }}
                                </div>

                                {% include "form_alerts.html" %}

                                {% if not token %}
                                    <div class="form-group">
                                        <label for="old_password">{{ form.old_password.label.text }}</label>
                                        {{ form.old_password(class="form-control", id="password", required="true", autocomplete="current-password") }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="new_password">{{ form.new_password.label.text }}</label>
                                    {{ form.new_password(class="form-control", id="new_password", required="true", pattern=".{8,}", title=gettext("Please use 8 or more characters."), autocomplete="new-password") }}
                                </div>

                                <div class="form-group">
                                    <label for="new_password2">{{ form.new_password2.label.text }}</label>
                                    {{ form.new_password2(class="form-control", id="new_password2", required="true", autocomplete="new-password") }}
                                </div>

                                <button type="submit" class="btn btn-outline-primary ms-3 float-end">{{ gettext("Change Password") }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pre>{{ user_email }}</pre>

{% endblock %}

{% block script %}
    {% if firebase %}
        {% include "firebase_config.html" %}
        {{ javascript_tag('firebase_change_password_js') | safe }}
    {% endif %}
{% endblock %}
