table {
    width: 600px;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
td, th {
    border: 1px solid #dee2e6;
    color: #212529;
    padding: 0.5rem;
    text-align: start;
}
.es-highlight {
    background-color: #ffcece;
}
