<form class="form" role="form" id="formLogin" method="post">
    {{ form.csrf_token }}

    {% include "form_alerts.html" %}

    <div class="form-group">
        <label for="email">{{ form.email.label.text }}</label>
        {{ form.email(class="form-control", id="email", required="true") }}
    </div>
    <div class="form-group">
        <label for="password">{{ form.password.label.text }}</label>
        {{ form.password(class="form-control", id="password", required="true") }}
    </div>
    <div class="form-check mb-4 p-0">
        <div class="form-check">
            {{ form.remember_me(class="form-check-input", id="remember_me") }}
            <label class="form-check-label" for="remember_me">{{ form.remember_me.label.text }}</label>
        </div>
    </div>
    <button type="submit" class="nh-button nh-button--primary w-100">{{ gettext("Login") }}</button>
    {% if config.GOOGLE_LOGIN %}
    <a href="{{ url_for('oauth.google_login', next=next_page) }}"
       class="nh-button nh-button--secondary w-100"
       role="button"
    >
        {{ gettext('Log In with Google') }}
    </a>
    {% endif %}
</form>
