{% if get_client_locales()|length is gt 1 %}
<div class="card-body pt-1">
    <form class="form" role="form" method="post" action="{{ url_for('auth.set_locale') }}">
        <div class="form-group">
            <label for="language">{{ gettext('Language') }}</label>
            <div class="field">
                <select name="locale" class="form-control" onchange="this.form.submit()">
                    {% for locale in get_client_locales() %}
                    <option value="{{ locale.locale }}" {% if locale.locale == get_locale() %}selected{% endif %}>{{ locale.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
</div>
{% endif %}
