{% if config.GOOGLE_LOGIN %}
<script>
function openGoogleLoginPopup() {
    window.open('/login/google');
}

window.addEventListener('message', function(event) {
    if (event.origin === window.location.origin && event.data.type === 'oauth') {
        const message = event.data;

        if (message.data.token) {
            const urlParams = new URLSearchParams(window.location.search);

            window.location.replace(urlParams.get('next') || '/');
        } else if (message.data.error_str) {
            const oauth_error = document.getElementById('oauth_error');

            if (oauth_error) {
                const li = document.createElement('li');

                li.innerText = message.data.error_str;
                oauth_error.replaceChildren(li);
                oauth_error.style.display = 'block';
            }
        }
    }
});
</script>
{% endif %}