{% extends "login_layout.html" %}

{% block login_title %}
    <h3 class="mb-0">{{ gettext("Password Reset") }}</h3>
{% endblock %}

{% block login_body %}
<form class="form" role="form" id="formToken" method="post">

    {{ form.csrf_token }}

    {% include "form_alerts.html" %}

    <div class="form-group">
        <label for="email">{{ form.email.label.text }}</label>
        {{ form.email(class="form-control", id="email", required="true", autocomplete="username") }}
    </div>

    {% if token_type=='validate' %}
        <button type="submit" id="validate-btn" class="nh-button nh-button--primary float-end">{{ gettext("Validate") }}</button>
    {% else %}
        <button type="submit" id="reset-password-btn" class="nh-button nh-button--primary float-end">{{ gettext("Reset Password") }}</button>
    {% endif %}
</form>
{% endblock %}

{% block login_footer %}
{% endblock %}

{% block script %}
    {% if firebase %}
        {% include "firebase_config.html" %}
        <script>
            window.nextUrl = "{{ url_for("auth.login", _external=True) | tojson }}";
        </script>
        {{ javascript_tag('firebase_reset_password_js') | safe }}
    {% endif %}
{% endblock %}
