<script>
    window.newsroom = {{ get_client_config() | tojson | safe }};
    window.notificationData = {{ get_initial_notifications() | tojson | safe }};
    window.profileData = {{ get_user_profile_data() | tojson | safe }};
    window.translations = {{ get_client_translations() | tojson | safe }};
    window.locales = {{ get_client_locales() | tojson | safe }};
    window.locale = '{{ get_locale() | tojson | safe }}';
    window.sectionNames = {
        home: "{{ config.HOME_SECTION }}",
        wire: "{{ config.WIRE_SECTION }}",
        agenda: "{{ config.AGENDA_SECTION }}",
        monitoring: "{{ config.MONITORING_SECTION }}",
        saved: "{{ config.SAVED_SECTION }}",
    };
    window.searchTipsHtml = {
        regular: `{{ render_search_tips_html('regular') | safe }}`,
        advanced: `{{ render_search_tips_html('advanced') | safe }}`,
    }
</script>

{{ javascript_tag('newsroom_js') | safe }}

{% if session.get('name') %}
    {{ javascript_tag('notifications_js') | safe }}
    {{ javascript_tag('user_profile_js') | safe }}
{% endif %}

{% if get_setting('google_analytics') %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ get_setting('google_analytics') | safe }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('set', 'user_properties', {
      company: (window.profileData || {}).companyName || 'none',
      user: ((window.profileData || {}).user || {}).first_name || 'unknown',
  });

  {% if session.get('user') %}
  gtag('set', {'user_id': '{{ hash(session['user']) | tojson }}' });
  {% endif %}

  if ('{{ get_setting('google_analytics') }}'.startsWith('UA')) {
      gtag('config', '{{ get_setting('google_analytics') | tojson }}', {
          custom_map: {
              dimension1: 'company',
              dimension2: 'user',
          }
      });
  } else {
      gtag('config', '{{ get_setting('google_analytics') | tojson }}');
  }

  {% with messages = get_flashed_messages(category_filter=['analytics']) %}
    {% if messages %}
        analytics.sendEvents({{ messages | tojson | safe }});
    {% endif %}
  {% endwith %}
</script>
{% endif %}

{% if config.GOOGLE_MAPS_KEY %}
<script>
    window.mapsProvider = 'google';
    window.googleMapsKey = '{{ config.GOOGLE_MAPS_KEY | tojson }}';
    function setMapsLoaded() {
        window.mapsLoaded = true;
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_KEY }}&callback=setMapsLoaded" async defer></script>
<div id="google-map"></div>
{% endif %}

{% if config.IFRAMELY %}
<script src="//cdn.iframe.ly/embed.js" async></script>
{% endif %}
