<div class="tips-content">
    <div>
        <p><b>Utilisez notre Recherche Avancée pour obtenir des résultats de recherche plus ciblés sans avoir besoin d’apprendre à rédiger une requête de recherche avec expressions conditionnelles (booléennes)</b></p>
    </div>
    <div>
        <p><b>Tous ces mots-clés:</b></p>
        <ul>
            <li>L’opérateur classique <em class="operator-and">"AND"</em></li>
            <li>Chaque mot que vous indiquez doit apparaître dans les résultats</li>
            <li>C’est une recherche plus restrictive</li>
        </ul>
        <pre>Par exemple: Pommes Poires = Pommes <em class="operator-and">AND</em> Poires</pre>
    </div>
    <hr />
    <div>
        <p><b>N’importe lequel de ces mots-clés:</b></p>
        <ul>
            <li>L’opérateur classique <em class="operator-or">"OR"</em></li>
            <li>Les résultats peuvent inclure un ou plusieurs des termes de recherche que vous indiquez</li>
            <li>C’est le genre de recherche le plus large</li>
        </ul>
        <pre>Par exemple: Pommes Poires = Pommes <em class="operator-or">OR</em> Poires</pre>
    </div>
    <hr />
    <div>
        <p><b>Aucun de ces mots-clés:</b></p>
        <ul>
            <li>L’opérateur classique <em class="operator-not">"NOT"</em></li>
            <li>Chaque mot que vous indiquez doit être absent des résultats</li>
            <li>C’est la recherche la plus restrictive</li>
            <li>Utilisez-le en combinaison avec d’autres mots-clés et autres champs de recherche pour affiner les résultats de votre recherche</li>
        </ul>
        <pre>Par exemple: Pommes Poires = <em class="operator-not">NOT</em> Pommes <em class="operator-not">NOT</em> Poires</pre>
    </div>
    <hr />
    <div>
        <p><b>Les caractères génériques, les guillemets et les recherches de proximité peuvent être utilisés dans les trois champs de recherche avancée, si désiré:</b></p>
        <ul>
            <li>Utilisez le caractère générique <code>?</code> pour remplacer un caractère unique ou <code>*</code> pour remplacer aucun ou plusieurs caractères</li>
            <li>Utilisez les guillemets <code>“”</code> pour rechercher une phrase exacte</li>
            <li>Utilisez <code>~</code> pour trouver pour trouver des termes qui se trouvent à n mots l’un de l’autre.</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Par défaut, la recherche avancée cherche des résultats dans les champs les plus importants, c’est-à-dire, le titre, le titre de rappel et le corps.</b></p>
        <p>Il est possible de sélectionner ou désélectionner ces options dans le formulaire de la recherche avancée.</p>
    </div>
</div>
