<div class="tips-content">
    <div>
        <p><b>Use our Advanced Search to get more targeted search results without the need to learn how to write a Boolean search query</b></p>
    </div>
    <div>
        <p><b>All of these:</b></p>
        <ul>
            <li>This is the classic <em>"AND"</em> operator</li>
            <li>Every word you include must be present in the results</li>
            <li>This is a more restrictive search type</li>
        </ul>
        <pre>Example: Apples Pear = Apples <em>AND</em> Pear</pre>
    </div>
    <hr />
    <div>
        <p><b>Any of these:</b></p>
        <ul>
            <li>This is the classic <em>"OR"</em> operator</li>
            <li>Not every word you include needs to be present in the results</li>
            <li>This is the broadest search type</li>
        </ul>
        <pre>Example: Apples Pear = Apples <em>OR</em> Pear</pre>
    </div>
    <hr />
    <div>
        <p><b>None of these:</b></p>
        <ul>
            <li>This is the classic <em>"NOT"</em> operator</li>
            <li>Every word you include must not be present in the results</li>
            <li>This is the most restrictive search type</li>
            <li>Use this in combination with other keywords and other search input fields to narrow search results</li>
        </ul>
        <pre>Example: Apples Pear = <em>NOT</em> Apples <em>NOT</em> Pear</pre>
    </div>
    <hr />
    <div>
        <p><b>Wildcards, Quotation Marks, and proximity search are accepted in the three search input fields on the Advanced Search form, if desired:</b></p>
        <ul>
            <li>Use Wildcard operator <code>?</code> to replace a single character or <code>*</code> to replace zero or more characters</li>
            <li>Use Quotation Marks <code>“”</code> to search for an exact phrase</li>
            <li>Use <code>~</code> to find the matches within n words of each other</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>By default, Advanced Search searches for results in the most important fields.</b></p>
        <p>You can select/deselect these options on the Advanced Search form</p>
    </div>
</div>
