<div class="tips-content">
    <div>
        <p><b>Utilisez notre Recherche Avancée pour obtenir des résultats de recherche plus ciblés sans avoir besoin d’apprendre à rédiger une requête de recherche avec expressions conditionnelles</b></p>
    </div>
    <div>
        <p><b>Toutes ces conditions:</b></p>
        <ul>
            <li>Argument classique <em class="operator-and">"AND"</em></li>
            <li>Chaque mot inclus doit apparaître dans les résultats</li>
            <li>C’est une recherche plus restrictive</li>
        </ul>
        <pre>Par exemple: Pommes Poires = Pommes <em class="operator-and">AND</em> Poires</pre>
    </div>
    <hr />
    <div>
        <p><b>N’importe laquelle de ces conditions:</b></p>
        <ul>
            <li>Argument classique <em class="operator-or">"OR"</em></li>
            <li>Chaque mot inclus ne va pas apparaître dans les résultats</li>
            <li>C’est le genre de recherche le plus large</li>
        </ul>
        <pre>Par exemple: Pommes Poires = Pommes <em class="operator-or">OR</em> Poires</pre>
    </div>
    <hr />
    <div>
        <p><b>Aucune de ces conditions:</b></p>
        <ul>
            <li>Argument classique <em class="operator-not">"NOT"</em></li>
            <li>Chaque mot inclus doit être absent dans les résultats</li>
            <li>C’est la recherche la plus restrictive</li>
            <li>Utilisez ce regroupement avec d’autres mots clés et autres champs de recherche pour affiner les résultats de recherche</li>
        </ul>
        <pre>Par exemple: Pommes Poires = <em class="operator-not">NOT</em> Pommes <em class="operator-not">NOT</em> Poire</pre>
    </div>
    <hr />
    <div>
        <p><b>Les caractères génériques, les guillemets et les recherches de proximité peuvent être utilisés dans les trois champs de recherche avancée, si désiré:</b></p>
        <ul>
            <li>Utilisez le caractère générique <code>?</code> pour remplacer un caractère unique ou <code>*</code> pour remplacer aucun ou plusieurs caractères</li>
            <li>Utilisez les guillemets <code>“”</code> pour rechercher une phrase exacte</li>
            <li>Utilisez <code>~</code> pour trouver pour trouver des termes qui se trouvent à n mots l’un de l’autre.</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Par défaut, la recherche avancée cherche des résultats dans les champs les plus importants.</b></p>
        <p>Il est possible de sélectionner ou désélectionner ces options dans le formulaire de la recherche avancée</p>
    </div>
</div>
