<div class="tips-content">
    <div>
        <p><b>Utilisez les guillemets anglais (" ") quand vous voulez rechercher une expression exacte.</b></p>
        <p>
            Recherche d’une phrase = <code> Avis de tempête hivernale</code> (n’importe lequel de ces mots vont se retrouver dans les résultats)<br/>
            Bonne recherche d’une phrase = <code>"Avis de tempête hivernale"</code> (mettre les mots entre les guillemets va uniquement retrouver l’expression exacte dans les résultats)
        </p>
    </div>
    <hr />
    <div>
        <p><b>Soyez précis.</b> Plus vous utilisez de mots pertinents dans votre recherche, plus vous obtiendrez de bons résultats.</p>
        <p>
            Recherche générale = <code>Budget fédéral</code><br/>
            Recherche precise = <code>"Budget fédéral 2023"</code>
        </p>
    </div>
    <hr />
    <div>
        <p><b>Limitez la recherche à un champ</b></p>
        <p>Lorsque vous faites une recherche en utilisant la barre de recherche, les mots-clés peuvent, par défaut,  être recherchés dans tous les champs des documents. Les requêtes de recherche peuvent être restreintes à un champ précis, si désiré.</p>
        <p>Voici des exemples:</p>
        <ul>
            <li>Pour trouver la phrase exacte « avis de tempête » dans le corps du texte (CORPS HTML)<br /><code>body_html:"avis de tempête"</code></li>
            <li>Pour trouver le terme « neige » ou « tempête » dans le champ du titre<br /><code>headline:(neige OR tempête)</code></li>
            <li>Pour trouver le nom précis « Noel Ransome » dans le champ de signature<br /><code>byline:"Noel Ransome"</code></li>
            <li>Pour trouver le mot « climat » dans le titre de rappel<br /><code>slugline:climat</code></li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Caractères génériques</b></p>
        <p>Des caractères génériques peuvent être utilisés dans les recherches avec des termes individuels comme <code>?</code> (point d’interrogation) pour remplacer un caractère unique et <code>*</code> (astérisque) pour remplacer aucun ou plusieurs caractères.</p>
        <p>Voici des exemples :</p>
        <p>Le point d’interrogation remplace le caractère ‘e’ dans l’expression L<code>?</code>gault</p>
        <p>L’astérisque remplace aucun ou plusieurs caractères dans l’expression manifest<code>*</code>. Par exemple, cette recherche va trouver des résultats avec les variations différentes de l’expression manifest<code>*</code> tels que manifest, manifeste, manifesté, manifestant, manifestants, manifester, manifestation, manifestations, manifestement, etc.</p>
    </div>
    <hr />
    <div>
        <p><b>Recherche de proximité</b></p>
        <p>Utilisez le symbole <code>~</code> pour trouver des termes qui se trouvent à n mots l’un de l’autre.</p>
        <p>Par exemple, l’expression <code>“mesure climat”~10</code> signifie que ces deux mots doivent se trouver au maximum à 10 mots l’un de l’autre.</p>
    </div>
    <hr />
    <div>
        <p><b>Autres expressions conditionnelles (booléennes)</b></p>
        <ul>
            <li><p>Utilisez <code>+</code> et <code>–</code> pour définir ce qui doit et/ou ne doit pas apparaître:</p></li>
        </ul>
        <p><code>tempête hivernale +toronto -québec</code></p>
        <p>Cette expression spécifie que:</p>
        <ul>
            <li>Toronto doit être inclu</li>
            <li>Québec doit être absent</li>
            <li>Tempête ou hivernale sont optionnels</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Liste d’autres champs ou expressions boléennes courants:</b></p>
        <ul>
            <li>Recherche par version. Par exemple, l’expression <code>genre.name:Budget</code> recherche des documents dont la version est Budget.</li>
            <li>Recherche par catégorie du fil ou du calendrier: Par exemple, l’expression <code>service.name:Affaires</code>  recherche des documents parus sur le fil Affaires, et la même requête dans l’onglet « Calendrier » recherche des événements et des couvertures dans la catégorie Affaires.</li>
            <li>Recherche par sujet: Par exemple, l’expression <code>subject.name:Automobile</code> recherche des documents dont le sujet est Automobile.</li>
            <li>Recherche par source: Par exemple, l’expression <code>source:La "Presse Canadienne"</code> recherche des documents dont la source est La Presse Canadienne.</li>
            <li>Recherche par nombre de mots: Par exemple, l’expression <code>wordcount:>100</code> recherche des documents dont le nombre de mots est supérieur à 100 mots.</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Utilisez les filtres pour raffiner vos résultats de recherche sur le fil de presse et dans le calendrier.</b></p>
        <div>
            <h3><b>Filtres – Fil de presse (partie gauche de l’écran)</b></h3>
            <ul>
                <li>Langue – pour filtrer selon anglais ou français</li>
                <li>Source – pour filtrer selon la source (The Canadian Press, La Presse Canadienne, The Associated Press, etc.)</li>
                <li>Catégorie fil de presse – pour filtrer selon la catégorie du fil de presse (Affaires, Finance, National, Nouvelles Générales, Politique, etc.)</li>
                <li>Sujet – filtrer selon le sujet des éléments</li>
                <li>Sujet – pour filtrer selon le sujet (Changement climatique, Défense, Économie, Environnement, Santé, etc.)</li>
                <li>Date de publication – pour filtrer selon la date (le même jour, semaine, mois) ou une plage de dates</li>
            </ul>
        </div>
        <div>
            <h3><b>Filtres sous l’onglet « Calendrier » (liste déroulante sous la barre de recherche)</b></h3>
        </div>
        <div>
            <p><b>Événements et couvertures:</b> pour filtrer par événements ou couvertures seulement.</p>
        </div>
        <div>
            <p><b>Statut de couverture:</b> ce que La Presse Canadienne a l’intention de faire par rapport à un événement ou un dossier. Lorsque lié à un événement il signale la présence en couverture. Il est possible de filtrer les résultats selon le statut de couverture d’un événement ou d’un dossier (couverture planifiée, couverture non planifiée, pas de décision sur la couverture, couverture terminée).</p>
        </div>
        <div>
            <p><b>Type de couverture:</b> il s’agit du type de couverture qui peut être un texte, une photo, ou une vidéo.</p>
            <p><b>Partie gauche de l’écran:</b></p>
            <ul>
                <li>Langue: pour filtrer selon anglais ou français</li>
                <li>Catégorie: pour filtrer selon la catégorie d’un événement ou d’un élément de couverture (Affaires, National, Voyage, etc.)</li>
                <li>Type d’événement: pour filtrer selon le type d’événement (conférence, lancement de produit, visite officielle, etc.)</li>
                <li>Sujet: pour filtrer selon le sujet de l’événement ou de l’élément de couverture (Économie, Politique, Relations internationales, etc.)</li>
                <li>Date de l’événement: pour filtrer selon la date (le même jour, semaine, mois) ou une plage de dates</li>
            </ul>
        </div>
    </div>
</div>
