<div class="tips-content">
    <div>
        <p><b>Be specific.</b> The more relevant words you use in your search, the more successful your results.</p>
        <p>
            General Search = <code>Federal Budget</code><br/>
            Specific Search = <code>Federal Budget 2023 Ministry of Health</code>
        </p>
    </div>
    <hr />
    <div>
        <p><b>Use quotes</b> to search for a phrase.</p>
        <p>
            Incorrect search for a phrase = <code>Winter storm warnings</code><br/>
            Correct search for a phrase = <code>"Winter storm warnings"</code>
        </p>
    </div>
    <hr />
    <div>
        <p><b>Restricting search to a field</b></p>
        <p>When you run a search using the Search Bar, by default every field in a document is searchable and checked for matching query words, unless specified.</p>
        <p>The following are examples:</p>
        <ul>
            <li>Where the body_html contains "storm warning" as an exact phrase<br /><code>body_html:"storm warning"</code></li>
            <li>Where headline field contains snow or storm<br /><code>headline:(snow OR storm)</code></li>
            <li>Where the byline field contains the exact phrase "Noel Ransome"<br /><code>byline:"Noel Ransome"</code></li>
            <li>Where the slugline field contains climate<br /><code>Slugline:climate</code></li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Wildcards</b></p>
        <p>Wildcard searches can be run on individual terms, using <code>?</code> to replace a single character, and <code>*</code> to replace zero or more characters: <code>qu?ck bro*</code></p>
    </div>
    <hr />
    <div>
        <p><b>Proximity search</b></p>
        <p>Use  <code>~</code> to find the matches within n words of each other.</p>
        <p><code>“climate action”~10</code> means to find the matches where climate and action appear together with no more than 10 words between each term, regardless of the order that they appear.</p>
    </div>
    <hr />
    <div>
        <p><b>Using <code>+</code> and <code>–</code> to define what must and/or must not be present</b></p>
        <p><code>winter storm +toronto -quebec</code></p>
        <p>states that</p>
        <ul>
            <li>Toronto must be present</li>
            <li>Quebec must not be present</li>
            <li>winter or storm are optional</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>List of other common fields/Boolean operators</b></p>
        <ul>
            <li>Version e.g. <code>genre.name:Agate</code> will search for items with Agate as the version</li>
            <li>Wire Category/Calendar Category e.g. <code>service.name:Business</code> in the Wire section searches for wire items in the Business wire category. <code>service.name:Business</code> in the Calendar section searches for events and planning items in the Business category.</li>
            <li>Subject e.g. <code>subject.name:Automobile</code> will search for items with Automobile as the subject</li>
            <li>Source source: e.g. <code>source:The Canadian Press</code> will search for items by The Canadian Press</li>
            <li>Word Count e.g. <code>wordcount:>100</code>  will search for items with more than 100 words</li>
        </ul>
    </div>
    <hr />
    <div>
        <p><b>Use our Filters to narrow down your search results in the Wire and Calendar. We offer a number of filtering options.</b></p>
        <div>
            <h3><b>Filtering options for the Wire section (Left side panel)</b></h3>
            <ul>
                <li>Language – filter by the language of item</li>
                <li>Source – filter by the source of item</li>
                <li>Wire category – filter by the wire category of item</li>
                <li>Subject – filter by the subject of item</li>
                <li>Version – filter by the version of item</li>
                <li>Published date – filter by date or date range when a story was published</li>
            </ul>
        </div>
        <div>
            <h3><b>Filtering options for the Calendar section (Drop-downs below the Search bar)</b></h3>
        </div>
        <div>
            <p><b>Events:</b> these are things that happen, something tangible - a match, a press conference, parliament sitting, a court case, etc.</p>
        </div>
        <div>
            <p><b>Planning:</b> this tells you what The Canadian Press is doing about an Event or an Issue. When related to an Event, it indicates to you we are covering the Event. Planning items can also be independent of an Event - this relates to issues or stories that do not have Events associated to them.</p>
        </div>
        <div>
            <p><b>Coverage Type:</b> Types of coverages which can be text, image, visual explainer, or video.</p>
        </div>
        <div>
            <p><b>Coverage status:</b> Filter by the status of coverage items.</p>
        </div>
        <div>
            <p><b>Filtering options for the Calendar section (Left side panel)</b></p>
            <ul>
                <li>Language – filter by the language of items</li>
                <li>Category – filter by the category of events or planning items</li>
                <li>Event type – filter by the type of events</li>
                <li>Subject – filter by the subject of the events or planning items</li>
                <li>Event date – filter by date or date range for events and/or planning items occurring during the chosen timeframe</li>
            </ul>
        </div>
    </div>
</div>
