<div class="advanced-search__content">
    <div class="advanced-search__content-block advanced-search__content-block--no-background">
        <p class="advanced-search__content-block-text advanced-search__content-block-text--bold">
            Use our Advanced Search to get more targeted search results without the need to learn how to write a Boolean search query
        </p>
    </div>
    <div class="advanced-search__content-block advanced-search__content-block--no-background">
        <p class="advanced-search__content-block-text advanced-search__content-block-text--bold">All of these:</p>
        <ul>
            <li>This is the classic <span class="green">"AND"</span> operator</li>
            <li>Every word you include must be present in the results</li>
            <li>This is a more restrictive search type</li>
        </ul>
        <p class="advanced-search__content-description-text">
            Example: Apples Pear = Apples <span class="green">AND</span> Pear
        </p>
    </div>
    <hr class="dashed" />
    <div class="advanced-search__content-block advanced-search__content-block--no-background">
        <p class="advanced-search__content-block-text advanced-search__content-block-text--bold">Any of these:</p>
        <ul>
            <li>This is the classic <span class="blue">"OR"</span> operator</li>
            <li>Not every word you include needs to be present in the results</li>
            <li>This is the broadest search type</li>
        </ul>
        <p class="advanced-search__content-description-text">
            Example: Apples Pear = Apples <span class="blue">OR</span> Pear
        </p>
    </div>
    <hr class="dashed" />
    <div class="advanced-search__content-block advanced-search__content-block--no-background">
        <p class="advanced-search__content-block-text advanced-search__content-block-text--bold">None of these:</p>
        <ul>
            <li>This is the classic <span class="red">"NOT"</span> operator</li>
            <li>Every word you include must not be present in the results</li>
            <li>This is the most restrictive search type</li>
            <li>Use this in combination with other keywords and other search input fields to narrow search results</li>
        </ul>
        <p class="advanced-search__content-description-text">
            Example: Apples Pear = <span class="red">NOT</span> Apples <span class="red">NOT</span> Pear
        </p>
    </div>
    <hr class="dashed" />
    <div class="advanced-search__content-block advanced-search__content-block--no-background">
        <p class="advanced-search__content-block-text advanced-search__content-block-text--bold">
            Wildcard and Quotation Marks are accepted in the three search input fields on Advanced Search
        </p>
        <ul>
            <li>You can use Wildcard operator ? to replace a single character or * to replace zero or more characters and Quotation Marks "" to search for an exact phrase</li>
        </ul>
    </div>
</div>