{% extends "layout_wire.html" %}

{% block contentMain %}
<div class="nh-login-page__content {% block custom_container_style %}{% endblock %}">
    <div class="login-box mt-5 mb-5">
        <div class="login-box__header">
            <h3 class="login-box__title">{{ gettext("Sign up") }}</h3>
        </div>
        <div>
            {% include "login_messages.html" %}
            {% include "signup_form.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
    function enableSubmitButton(){
        document.getElementById("signup-submit").disabled = false;
    }
</script>

{% endblock %}
