@import './breakpoints';

.wire-column__main-header-agenda {
    flex-shrink: 0;
    height: 56px;
    transition: all var(--transition-base);
    z-index: 100;
    background-color: var(--main-header-color-bg);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    padding-inline-end: 0 !important;
    gap: var(--space--1);

    @include phone {
        justify-content: flex-start;
        height: auto;
        padding-block: var(--space--1);
        padding-inline-start: var(--space--1) !important;
        gap: var(--space--0-5);
    }
}
.wire-column__main-header-container {
    position: relative;
    z-index: 2;
    background-color: var(--main-header-color-bg);
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.1), 0 1px 0 hsla(0, 0%, 0%, 0.06);
    gap: 0;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    max-height: clamp(360px, 50svh, 50svh);
    @include phone {
        .search-result__tags-list {
            border-bottom: 2px solid var(--main-header-color-bg);
            padding-inline: var(--space--1);
            .tags-list {
                gap: var(--space--0-5);
            }
        }
    }
}

// Grid Layout for the Search result elements inside the .wire-column__main-header-container

.navbar--quick-filter {
    grid-row: 1 / 2;
}

.navbar.navbar--search-results {
    z-index: 2;
    grid-row: 2 / 3;
}

.search-result__tags-list {
    grid-row: 3 / 4;
    overflow-y: auto;
}

.navbar--list-controls {
    grid-row: 4 / 5;
}