@import './breakpoints';

.wire-column__main-header-agenda {
    flex-shrink: 0;
    height: 56px;
    transition: all var(--transition-base);
    z-index: 100;
    background-color: var(--color-background);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    padding-inline-end: 0 !important;
    gap: var(--space--1);

    @include phone {
        justify-content: flex-start;
        height: auto;
        padding-block: var(--space--1);
        padding-inline-start: var(--space--1) !important;
        gap: var(--space--0-5);
    }
}
.wire-column__main-header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.1), 0 1px 0 hsla(0, 0%, 0%, 0.06);
    gap: 1px;
    flex-shrink: 0;
}
