.wire-articles {
    margin-block-start: var(--space--1-5);
}

.wire-articles__header {
    flex: 0 0 100%;
    margin-block-end: var(--space--1);
    padding: 0 var(--space--2);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-text--muted);
}
.wire-articles__group {
    flex: 0 0 100%;

    & + .wire-articles__header {
        margin-block-start: var(--space--1);
    }
}

.wire-articles__item {
    position: relative;
    flex-grow: 1;
    background: var(--content-list-item-color-bg);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: var(--content-list-item-padding);
    border: 4px solid transparent;
    outline: 1px solid transparent;
    transition: all .2s ease-out;
    border-radius: var(--content-list-item-border-radius);
    .no-touch & {
        &:hover {
            border: 4px solid #f5f5f5;
        }
    }
    &:before {
        content: '';
        position: absolute;
        inset-inline-start: -4px;
        inset-block-start:-4px;
        inset-block-end: -4px;
        width: 0;
    }
    &:focus-visible {
        box-shadow: 0 0 0 1px var(--color-interactive-focus), 0 0 3px 4px var(--color-interactive-focus--translucent);

        .wire-articles__item-select {
            width: 24px;
            opacity: 1;
            margin-inline-end: 10px;
        }
    }
}

.wire-articles__item--open {
    outline: 1px solid var(--color-interactive-focus);
}

.wire-articles__item--visited {
    .wire-articles__item__text {
        color: var(--color-text);
    }
    .wire-articles__item-headline {
        color: var(--color-text--muted);
        font-weight: 400;
    }
    .wire-articles__item__meta-info,
    .wire-articles__item__meta-info .bold {
        color: var(--color-text--muted);
    }
    .wire-articles__wire-articles__item__metaitem__meta-info .bold {
        font-weight: 500;
    }
    .icon--gray-light {
        color: var(--icon-color--muted-2) !important;
    }
    .wire-articles__item-actions {
        .btn-group {
            &:hover {
                > span > [class^="icon--"], [class*=" icon--"] {
                    color: var(--color-text) !important;
                }
            }
        }
    }
}

.wire-articles__item.wire-articles__item--selected {
    border-color: var(--color-interactive-focus--translucent);
    outline: 1px solid var(--color-interactive-focus);
}

.wire-articles__item-wrap {
    display: flex;
    flex-direction: column;
    margin-block-end: var(--space--2);
    cursor: pointer;
    outline: none;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-inline-end: var(--space--2);
    padding-inline-start: var(--space--2);

    @include xxsm {
        margin-block-end: var(--space--1-5);
        padding-inline-start: var(--space--1);
        padding-inline-end: var(--space--1);
    }
    @include md {
        padding-inline-end: var(--space--2);
        padding-inline-start: var(--space--2);
    }
}

.wire-articles--list {
    padding-block-start: var(--space--2);
    margin-block-start: 0;
    overflow: auto;
    flex-grow: 1;
}

.wire-articles__item--list {
    display: flex;
    flex-direction: column;
    padding: var(--space--1-5);
    @include xxsm {
        padding: var(--space--0-5);
    }
    @include sm {
        padding: var(--space--1-5) var(--space--1) var(--space--1) var(--space--2);
    }
    @include md {
        flex-direction: row;
        padding: var(--space--1-5) var(--space--2);
    }
}

.wire-articles__item-sidebar {
    margin-inline-end: var(--space--2);
}

.wire-articles__item--covering {
    &:before {
        width: 4px;
        background-color: $green;
    }
    .date-round__number {
        color: $green;
    }
    .date-round {
        background: #edf8da;
    }
}
.wire-articles__item--postponed {
    &:before {
        width: 4px;
        background-color: var(--color-primary);
    }
    .date-round__number {
        color: $orange;
    }
    .date-round {
        background: #edf8da;
    }
}
.wire-articles__item--rescheduled {
    &:before {
        width: 4px;
        background-color: $orange;
    }
    .date-round__number {
        color: $green-dark;
    }
    .date-round {
        background: #edf8da;
    }
}
.wire-articles__item--not-covering {
    &:before {
        width: 4px;
        background-color: #bfc3c7;
    }
    .date-round__number {
        color: #9a9a9a;
    }
    .date-round {
        background: #f1f1f1;
    }
}
.wire-articles__item--canceled {
    &:before {
        width: 4px;
        background-color: $red;
    }
    .date-round__number {
        color: $red;
    }
    .date-round {
        background: #fee6e6;
    }
    .wire-articles__item__meta-time {
        color: var(--color-text--muted);

        .time-text {
            color: var(--color-text--muted);
            font-weight: bold;
        }
    }
}
// watched item
.wire-articles__item--watched {
    background-color: var(--content-list-item-color-bg--watched);
    background-image: url(/static/watched-icon.svg);
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: right 72px center;

}

// grid view
.wire-articles--grid {

    .wire-articles__item--grid {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
    }
    .wire-articles__item:hover {
        border: none;
    }
    .wire-articles__item-text-block {
        order: 2 !important;
        padding: 16px 16px 6px;
        flex-basis: auto; // iPad fix
    }
    .wire-articles__item-image {
        order: 1 !important;
        position: relative;
        figure {
            margin: 0 !important;
            img {
                max-width: 100% !important;
                width: 100% !important;
            }
        }
        .wire-articles__item-select {
            position: absolute;
            inset-block-start:10px;
            inset-inline-start: 10px;
        }
    }
    .wire-articles__versions__time {
        line-height: 1.2;
        font-size: 1.4rem;
    }
    .wire-articles__item-actions {
        order: 3 !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        margin: 0 10px 4px 0;
    }
    .wire-articles__versions__item {
        padding: 16px;
        align-items: flex-start;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .wire-articles__item-select {
        width: 24px;
        opacity: 1;
        margin-inline-end: 10px;
    }
    .wire-articles__versions__name {
        margin-block-start: 4px;
        h5 {
            font-size: .875rem;
        }
    }
}

// compact view
.wire-articles--list-compact {
    .wire-articles__item {
        border: 3px solid transparent;
        .no-touch & {
            &:hover {
                border: 3px solid #f5f5f5;
            }
        }
    }
    &.wire-articles--list {
        flex-grow: 0;
    }
    .wire-articles__item-wrap {
        margin-block-end: 5px;
    }
    .wire-articles__item--list {
        padding: 10px;
        @include md {
            padding: 0 0 0 5px;
        }
    }
    .wire-articles__item-text-block {
        flex-direction: column;
        flex-basis: auto;
        @include md {
            flex-direction: row;
            align-items: center;
        }
    }
    .wire-articles__item-headline {
        display: flex;
        font-size: var(--text-size--medium);
        margin-inline-end: 20px;
        label {
            margin-block-end: 0px;
        }
        @include md {
            align-items: center;
            margin-block-end: 0;
        }
    }
    .wire-articles__item-headline-inner {
        align-items: center;
    }
    .wire-articles__item__versions-btn {
        @include md {
            margin-inline-start: auto;
            align-self: center;
        }
    }
    .wire-articles__item-actions {
        flex-direction: row;
        align-items: center;
        > * {
            margin-block-end: 0px;
        }
        .icon-button {
            height: 28px;
        }
        > .btn-group {
            order: 1;
        }
    }
    .wire-articles__item-select {
        margin-inline-end: 4px !important;
    }
    .wire-articles__header {
        font-size: 1rem;
        font-weight: 400;
        margin-block-end: 4px;
    }
    .wire-articles__item--watched {
        background-position: right 120px center;
        background-size: 52px;
    }
    .wire-articles__item__meta-info {
        margin-block-end: 0px;
    }
}

.wire-articles__item-text-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 2;
    padding-inline-end: 24px;
    gap: var(--space--1);
    @include sm {
        padding-inline-end: 0;
    }
    @include md {
        order: 0;
    }
}

.wire-articles__item-headline {
    font-size: var(--content-list-item-headline-font-size);
    font-weight: var(--content-list-item-headline-font-weight);
    font-family: var(--content-list-item-headline-font-family);
    margin: 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: var(--color-text);

    @include sm {
        --content-list-item-headline-font-size: var(--text-size--large);
    }
}
.wire-articles__item-headline-inner {
    display: flex;
    justify-content: flex-start;
    gap: var(--space--1);
    align-items: center;
    margin-block-end: 0;
}
.wire-articles__item-headline--indent {
    display: inline-block;
    text-indent: 30px;
    @include sm {
        text-indent: 0;
    }
}

.wire-articles__item-select--visible {
    width: 24px;
    opacity: 1;
    margin-inline-end: 10px;
    display: inline-block;
}

.wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-inline-end: 10px;
    @include xl {
        width: 0;
        opacity: 0;
        margin-inline-end: 0;
    }
    display: inline-block;
    transition: all .2s ease-out;
    img {
        opacity: 0;
        margin-block-start: -1px;
    }
    .circle-checkbox {
        margin: 0 !important;
    }
}

.wire-articles__item:hover .wire-articles__item-select,
.wire-articles__item--selected .wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-inline-end: 10px;
    img {
        opacity: 1;
        transition: all .2s ease-out;
        transition-delay: 0.2s;
    }
}

.wire-articles__item-selected .wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-inline-end: 10px;
}

.wire-articles__item__meta {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: var(--space--1);
    margin: 0;
    color: var(--color-text--muted);
    img {
        height: 35px;
    }
}

.wire-articles__item__icons {
    display: contents;
    flex-wrap: wrap;
    align-items: center;
    margin-block-end: 0px;
    display: flex;
    gap: var(--space--1-5);
    flex-grow: 0;
    &--dashed-border {
        padding-inline-end: var(--space--1-5);
        border-inline-end: 1px dotted var(--color-line--light);
    }
}

.wire-articles__item__icon {
    margin: 0;
    display: flex;
    position: relative;
    &[class*=" coverage--"] {
        &::after {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            height: 12px;
            width: 12px;
            position: absolute;
            inset-block-end: -4px;
            inset-inline-end: -4px;
            box-shadow: 0 0 0 2px hsl(0, 0%, 100%);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    &.dashed-border {
        padding-inline-end: 10px;
        border-inline-end: 1px dotted var(--color-line--light);
        &[class*=" coverage--"] {
            &::after {
                inset-inline-end: 6px;
            }
        }
    }
    &.coverage--draft {
        &::after {
            display: none;
        }
    }
    &.coverage--active {
        &::after {
            background-color: $purple;
            background-image: url('/static/overlay_icon--active.svg');
        }
    }
    &.coverage--assigned {
        &::after {
            background-color: $mid-blue;
            background-image: url('/static/overlay_icon--assigned.svg');
        }
    }
    &.coverage--cancelled {
        &::after {
            background-color: $red;
            background-image: url('/static/overlay_icon--cancelled.svg');
        }
    }
    &.coverage--completed {
        &::after {
            background-color: $green;
            background-image: url('/static/overlay_icon--completed.svg');
        }
    }
}

.wire-articles__item__divider {
    height: 30px;
    border-inline-end: 1px dotted var(--color-line--light);
    margin: 0px var(--space--1);
}

.wire-articles__item__meta-info {
    font-size: var(--content-list-item-text-font-size);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    margin: 0;
    .bold {
        color: var(--color-text);
        font-weight: 500;
    }
    .versions-link {
        color: var(--color-text-link);
        cursor: pointer;
    }
    .wire-column__preview--canceled & {
        text-decoration: line-through;
    }
}
.wire-articles__item__meta-row {
    display: flex;
    margin-block-end: 6px;

    i {
        margin-inline-end: 6px;
    }
    span {
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
    }

    &--info {
        margin-inline-start: 1rem;
        color: var(--color-text--muted);
        font-weight: 400;
    }
}

.wire-articles__item__meta-time {
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--content-list-item-text-font-size);

    &--border-right {
        padding-inline-end: var(--space--1);
        border-inline-end: 1px dotted var(--color-line--light);

    }
}

.wire-articles__item__text {
    font-family: var(--content-list-item-text-font-family);
    font-size: var(--content-list-item-text-font-size);
    font-weight: var(--content-list-item-text-font-weight);
    margin: 0;
    line-height: 1.5;
    display: none;
    @include sm {
        display: block;
    }
    p {
        margin: 0px;
        max-width: 160ch;
    }
    &--large {
        font-size: 1rem !important;
    }
    &--headline {
        margin-inline-start: var(--space--2);
    }
}
.wire-articles__item__versions-btn {
    margin-inline-start: 24px;
    @include sm {
        margin-inline-start: 0;
    }
    button {
        cursor: pointer;
    }
}

.wire-articles__item-image {
    position: relative;
    order: 1;
    figure {
        margin-inline-start: 0px;
        margin-block-end: 20px;
        @include md {
            margin-inline-start: 12px;
            margin-block-end: 0px;
        }
        img {
            max-width: none;
            max-height: none;
            height: auto;
            width: 100%;
            @include md {
                max-width: 160px;
                width: auto;
            }
            @include lg {
                max-height: 140px;
            }
        }
    }
    @include md {
        order: 0;
    }
}

.wire-articles__item-image-icon {
    position: absolute;
    inset-block-start:5px;
    inset-inline-end: 5px;
    opacity: 0.8;
}

.wire-articles__item-actions {
    margin-inline-start: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    order: 3;
    position: absolute;
    inset-block-start:0;
    inset-inline-end: 0;
    @include sm {
        position: relative;
    }
    @include md {
        order: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    @include xxsm {
        margin-inline-start: 0;
    }

    > * {
        margin-block-end: 3px;
    }
    .btn-group {
        &:hover {
            > span > [class^="icon--"], [class*=" icon--"] {
                color: var(--color-text);
            }
        }
    }
}

.wire-articles__item--open + .wire-articles__versions, .wire-articles__item--selected + .wire-articles__versions {
    outline: 1px solid #00aceb;
}

.wire-articles__versions {
    flex-direction: column;
    background: #fafafa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-out;
    z-index: 0;
}

a.wire-articles__versions {
    display: block;
    color: inherit;

    &:hover {
        text-decoration: none;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    }
}

.wire-articles__versions__item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-block-end: 1px dotted var(--color-line--light);
    @include lg {
        padding: 5px 20px;
    }
}

.wire-articles__versions__item:last-child {
    border-block-end: 0px;
}

.wire-articles__versions__wrap {
    display: flex;
    align-items: center;
}

.wire-articles__versions__wrap > * {
    margin-inline-end: var(--space--2);
}

.wire-articles__versions__time {
    font-size: 1.4rem;
    color: var(--color-text--muted);
    font-weight: 400;
    margin-inline-end: 10px;
    @include lg {
        font-size: 2.25rem;
        font-weight: 300;
    }
}


.wire-articles__versions__name {
    h5 {
        font-size: var(--text-size--medium);
        color: var(--color-text--muted);
        margin-block-end: 0px;
    }
}


.wire-column__preview__item__meta-info {
    display: flex;
    flex-direction: column;
}




.agenda-item {
    margin-block-start: 0;

    @include md {
        margin-block-start: 10px;
    }

    .wire-articles__item--list {
        padding: 4px 8px;

        @include md {
            padding: 12px 20px;
        }
    }
    .wire-articles--list-compact & {
        .wire-articles__item--list {
            padding: var(--space--0-5) var(--space--0-5) var(--space--0-5) var(--space--1);
            .wire-articles__item-text-block {
                gap: var(--space--0-5);
            }
        }
    }
    .wire-articles__item__meta {
        align-items: stretch;
        flex-wrap: wrap;
    }

    .wire-articles__item__meta-info {        
        margin-block-end: 0;
        flex-direction: row;
        gap: var(--space--0-5);

        @include md {
            margin-block-start: 0;
        }
        & > span {
            display: flex;
            align-items: center;
        }
    }
}