// Custom badges

.badge {
  font-size: 0.75rem;
  font-weight: 800;

  &--disabled {
    opacity: .35;
  }
}
.badge--top-right {
  position: relative;
  .badge {
    font-size: 0.6875rem; // 11px    
    line-height: 1.2;
    position: absolute;
    inset-block-start: 1px !important;
    inset-inline-end: -4px !important;
    padding: 0.35em 0.7em;
    
    @include sm {
      inset-block-start: -4px !important;
      inset-inline-end: 3px !important;
    }
  }
}

.badge--small {
  font-size: 0.6875rem;
}
.badge--icon {
  padding: 0;
  inset-block-start: 10px !important;
  inset-inline-end: 2px !important;

  @include sm {
    inset-inline-end: 11px !important;
  }
}
.badge.bg-secondary {
  background-color: rgba($gray-300, var(--bs-bg-opacity)) !important;;
}