// Custom mixins

@mixin form-control-focus() {
        &:focus {
        color: var(--color-text--focus);
        background-color: var(--input-color-bg--focus);
        border-color: var(--color-interactive-focus);
        box-shadow: inset 0 0 0 3px var(--searchbar-color-shadow--focus);
        outline: none;
    }
}