// TEXT
// Font sizes
.font-size--small {
    font-size: var(--text-size--small);
}
.font-size--medium {
    font-size: var(--text-size--medium);
}
.font-size--large {
    font-size: var(--text-size--large);
}
.font-size--x-large {
    font-size: var(--text-size--x-large);
}
.font-size--xx-large {
    font-size: var(--text-size--xx-large);
}
// Font Family
.font-family--primary {
    font-family: var(--font-family-core--primary);
}
.font-family--secondary {
    font-family: var(--font-family-core--secondary);
}
// Text Color
.text-color--default {
    color: var(--color-text) !important;
}
.text-color--muted {
    color: var(--color-text--muted);
}
.text-color--more-muted {
    color: var(--color-text--muted-2);
}
.text-color--inverse {
    color: var(--color-text--inverse);
}
.text-color--disabled {
    color: var(--color-text--disabled);
}


// BORDER ( makes use of the Bootsrap helper classes )
// .border class must be also added to the element

// Color
.border--x-light {
    border-color: var(--color-line--x-light) !important;
}
.border--light {
    border-color: var(--color-line--light) !important;
}
.border--medium {
    border-color: var(--color-line--medium) !important;
}
.border--strong {
    border-color: var(--color-line--strong) !important;
}
.border--x-strong {
    border-color: var(--color-line--x-strong) !important;
}
// Style
.border--dotted {
    border-style: dotted !important;
}
.border--dashed {
    border-style: dashed !important;
}
