// Custom breadcrumbs

.navbar-brand {
  span.breadcrumb-item {
    font-size: var(--text-size--medium); // 14px
    line-height: 1.1;
    color: var(--top-bar-color-fg);

    @include sm {
      font-size: 1rem; // 16px
    }

    @include xxsm {
      display: none;
    }
  }

  a.breadcrumb-item {
    font-weight: 300;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
    @include sm {
      letter-spacing: -.1rem;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0;
    display: none;
    @include sm {
      padding: 0 0.5rem;
    }
  }
}
.breadcrumb-item.active {
  color: var(--top-bar-color-fg);
  opacity: 0.7;

  @include sm {
    overflow: visible;
  }
}

.breadcrumb-sub-item {
    overflow: hidden;
    text-overflow: ellipsis;
}
