// Custom buttons

.btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.04rem;
    white-space: normal;
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, $btn-border-radius);
    line-height: 1.2;
    transition: padding .2s ease-out;

    @include lg {
      line-height: 1.7;
    }
    
    &.disabled,
    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
    &:hover {
      text-decoration: none;
    }
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}

// smaller button bellow xxl media query
.btn-responsive {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  line-height: 1.2;
  
  @include xxl {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, $btn-border-radius);    
  }
}
.btn-with-icon {
  display: flex;
  align-items: center;

  [class^="icon--"], [class*=" icon--"] {
    margin-inline-end: 8px;
  }
  &:hover {
    [class^="icon--"], [class*=" icon--"], [class^="icon-"] {
      color: $white;
    }
  }
}

@mixin button-outline-variant($color, $color-hover: #fff, $border-color: $color) {
    color: $color;
    background-color: transparent;
    background-image: none;
    border-color: $border-color;
  
    &.hover {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }

    &.active {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }
  
    &:focus,
    &.focus {
      outline: none;
    }
    &:focus-visible {
      box-shadow: 0 0 0 1px rgba(0, 172, 236, .6), 0 0 3px 4px rgba(0, 172, 236, .4);
    }
  
    &.disabled,
    &:disabled {
      color: $color;
      background-color: transparent;
      opacity: .4;
      cursor: not-allowed;
    }
  
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
      box-shadow: 0 0 0 .2rem rgba($color, .5);
    }
    &:not([disabled]):not(.disabled).active {
      box-shadow: none;
    }
  }
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @if $color == "light" {
        @include button-outline-variant($value, $gray-900);
      } @else if $color == "secondary" {
        @include button-outline-variant($gray-600, white, $value);
      } 
      @else {
        @include button-outline-variant($value, $white);
      }
    }
  }

.btn-text-only {
  text-transform: initial;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1.5rem;
  &:hover {
    border: 1px solid #999;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(109, 117, 126, .5);
  }
  span {
    font-weight: 400;
    color: #676C7B;
    margin: 0 3px;
  }
}
.btn-group--navbar {
  margin: 0 12px;
}