
$gray-light: #c9c9c9;
$gray-mid: #9a9a9a;
$gray-dark: #747474;
$background-color: var(--color-background);
$main-blue: #007EAD;
$mid-blue: #00658A;
$mid-blue-light: #427A8F;
$pink: #d50089;
$red: #cb0002;
$green: #51831B;
$green-dark: #3D7204;
$orange: #B36100;
$orange2: #CC7A00;
$cyan: #108484;
$purple: #B637DE;
$yellow: #8F7200;

// Custom bootstrap variables

$info: $pink;
$gray-600: #6D757E;
$light: $gray-dark;

$blue: #007EAD;
$line-height-sm: 1.25;
$border-radius: .1875rem;
$btn-border-radius-sm: .125rem;

$font-family-sans-serif: var(--font-family-core--sans);
$font-family-serif: var(--font-family-core--serif);
$font-size-base: 1rem;
$font-size-button: ($font-size-base * .75) !default;
$font-weight-medium: 500 !default;
$font-family-base: $font-family-sans-serif;
$font-size-lg: ($font-size-base * 1);
$font-size-sm: ($font-size-base * .65);

// Buttons

$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;
$input-btn-padding-y-sm: .375rem;
$input-btn-padding-x-sm: .75rem;
$font-size-sm: .75rem;
$btn-font-weight: $font-weight-medium;
$btn-border-radius: $border-radius;
$input-btn-focus-box-shadow:  0 0 0 0;
$btn-block-spacing-y: .625rem;

// Forms

$input-focus-border-color: $blue;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
$input-bg: $background-color;
$input-placeholder-color: var(--color-text--muted);
$custom-checkbox-indicator-border-radius: 2px;
$custom-control-indicator-bg: transparent;

// Dropdowns

$dropdown-padding-y: 0;
$dropdown-item-padding-y: 1rem;
$dropdown-item-padding-x: 1rem;
$dropdown-link-hover-bg: #eff4f6;
$dropdown-border-width: 0;
$dropdown-min-width: 12rem;
$list-group-item-padding-x: 0.75rem;
$list-group-item-padding-y: 1.25rem; 

// Modals

//$modal-backdrop-bg: #fff;
//$modal-backdrop-opacity: 1;
//$modal-content-border-width: 0px;
//$modal-content-bg: transparent;

// Badge

$badge-font-size: 0.8125rem;
$badge-font-weight: 400;

//Alerts
$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    xsm: 321px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
) !default;

  // Grid containers
  //
  // Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    xsm: 300px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1360px
) !default;


// NEW COLORS
//--------------------------

:root {
    // CORE COLORS
    @include defineColorHSL(--color-success, 95, 50%, 34%);
    @include defineColorHSL(--color-warning, 36, 100%, 40%);
    @include defineColorHSL(--color-alert, 356, 72%, 46%);
    @include defineColorHSL(--color-info, 198, 45%, 50%);
    @include defineColorHSL(--color-highlight, 356, 72%, 46%);
    @include defineColorHSL(--color-highlight1, 268, 68%, 45%);
    @include defineColorHSL(--color-highlight2, 310, 89%, 36%);

    // THEME COLORS
    @include defineColorHSL(--color-primary, 196, 100%, 34%);

    --main-blue:        hsl(196, 100%, 34%);

    // CORE: FOCUS - focus color for interactive elements -- input fields, search, selected elements etc.
    --color-interactive-focus-base: 196, 100%;
    --color-interactive-focus-l: 34%;
    --color-interactive-focus: hsla(var(--color-interactive-focus-base), var(--color-interactive-focus-l), 1);
    --color-interactive-focus--translucent: hsla(var(--color-interactive-focus-base), var(--color-interactive-focus-l), 0.25);
    --color-interactive-focus--translucent-2: hsla(var(--color-interactive-focus-base), var(--color-interactive-focus-l), 0.1);
    --color-interactive-focus--light-bg: hsla(var(--color-interactive-focus-base), calc(var(--color-interactive-focus-l) + 50%), 1);
    --color-text--focus: var(--color-text);
    
    --color-home-section-heading: var(--color-primary);
    --color-text--slugline: hsl(201, 62%, 30%);
    --color-text-link: var(--color-primary);
    --color-text-link--navbar: var(--color-primary);
    --color-icon-font: var(--color-text--muted);

    // --------------------------------------------------------------------
    //     C O R E
    // --------------------------------------------------------------------
    
    // CORE: BACKGROUNDS
    --color-background: hsl(0, 0%, 100%);
    --color-background--muted: hsl(0, 0%, 97%);
    --color-background--muted-2: hsl(0, 0%, 95%);

    // CORE: CONTENT ITEM BACKGROUND
    --color-background-content-item: hsl(0, 0%, 100%);
    
    // CORE: TEXT COLORS
    --color-text:                 hsla(0, 0%, 14%, 1);
    --color-text--muted:          hsla(0, 0%, 40%, 1);
    --color-text--muted-2:        hsla(0, 0%, 54%, 1);
    --color-text--inverse:        hsla(0, 0%, 96%, 1);
    --color-text--disabled:       hsla(0, 0%, 20%, 0.5);

    // CORE: LINE COLORS
    --color-line--x-light:        hsla(0, 0%, 92%, 1);
    --color-line--light:          hsla(0, 0%, 84%, 1);
    --color-line--medium:         hsla(0, 0%, 74%, 1);
    --color-line--strong:         hsla(0, 0%, 54%, 1);
    --color-line--x-strong:       hsla(0, 0%, 34%, 1);

    // CORE: SHADOW
    --line-shadow-end--light: 0 1px 0 var(--color-line--light);
    --line-shadow-start--light: 0 -1px 0 var(--color-line--light);
    
    // CORE: SPACE
    --space--0:     0;
    --space--0-5:   4px;
    --space--1:     8px;
    --space--1-5:   12px;
    --space--2:     16px;
    --space--3:     24px;
    --space--4:     32px;
    --space--5:     40px;
    --space--6:     48px;

    // CORE: BORDER RADIUS
    --border-radius--xs: 2px;
    --border-radius--s: 4px;
    --border-radius--m: 6px;
    --border-radius--l: 8px;
    --boder-radius--xl: 12px;
    --border-radius--full: 1000px;

    // CORE: TYPOGRAPHY
    --font-family-core--sans: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-family-core--serif: "Merriweather", serif;
    --font-size-base: 1rem; // 16px
    --text-size--large: var(--font-size-base); // 16px
    --text-size--medium: calc(var(--font-size-base) * 0.875); // 14px
    --text-size--small: calc(var(--font-size-base) * 0.75);  // 12px

    --font-family-core--primary: var(--font-family-core--sans);
    --font-family-core--secondary: var(--font-family-core--serif);

    --font-size-base: 1rem; // 16px
    --text-size--xx-large: calc(var(--font-size-base) * 1.5); // 24px
    --text-size--x-large: calc(var(--font-size-base) * 1.25); // 20px
    --text-size--large: var(--font-size-base); // 16px
    --text-size--medium: calc(var(--font-size-base) * 0.875); // 14px
    --text-size--small: calc(var(--font-size-base) * 0.75);  // 12px

    // CORE: ICONS
    --icon-size--default: 24px;
    --icon-size--small: 20px;
    --icon-size--x-small: 16px;
    --icon-color--muted: var(--color-text--muted);
    --icon-color--muted-2: var(--color-text--muted-2);

    // CORE: FORME ELEMENTS HEIGHT (unify the heights of buttons, inputs and other form elements 
    --size-form-element--large: 40px; // default size
    --size-form-element--small: 32px;
    --size-form-element--x-small: 24px;

    // CORE: MISC 
    --transition-base: 0.2s ease;
    --table-selected-shadow: inset 0 0 0 3px var(--color-interactive-focus--translucent);

    // CORE: TOP BAR HEIGHT (NavBar, Search, Mobile navigation) 
    --navbar-height: 56px;
    --navbar-height--mobile: 48px;
    

    // --------------------------------------------------------------------
    //     C O M P O N E N T S
    // --------------------------------------------------------------------
    
    // COMPONENT: SEARCHBAR
    --searchbar-size-height: 40px;
    --searchbar-border-radius: var(--border-radius--full);
    --searchbar-color-bg: hsl(0, 0%, 96%);
    --searchbar-color-fg: var(--color-text);
    --searchbar-color-border--normal: hsla(0, 0%, 80%, 0);
    --searchbar-color-border--hover: hsla(0, 0%, 80%, 1);
    --searchbar-color-border--focus: var(--color-interactive-focus);
    --searchbar-color-shadow--focus: var(--color-interactive-focus--translucent);
    --searchbar-color-button-bg: var(--color-text--muted);
    --searchbar-color-button-bg--active: var(--button-color-bg--primary);
    --searchbar-color-button-bg--active-hover: var(--button-color-bg--primary--hover);

    // COMPONENT: NAVBAR MAIN
    --top-bar-color-bg: hsl(216, 45%, 14%);
    --top-bar-color-fg: hsl(0, 0%, 100%);
    --top-bar-color-bg-notifications: hsla(216, 45%, 4%, 0.4);
    --top-bar-color-bg-notifications--hover: hsla(216, 45%, 0%, 0.8);
    --top-bar-color-bg-avatar-block: hsla(216, 45%, 4%, 0.4);
    --top-bar-color-fg-avatar: hsl(222, 18%, 100%);
    --top-bar-color-bg-avatar: hsl(222, 18%, 24%);
    --top-bar-color-bg-avatar--hover: hsl(222, 18%, 34%);

    // COMPONENT: INPUT FIELD
    --input-color-bg: hsl(0, 0%, 96%);
    --input-color-bg--focus: hsl(0, 0%, 98%);
    --input-color-bg--disabled: hsl(0, 0%, 98%);
    --input-color-fg: var(--color-text);
    --input-color-border: hsl(0, 0%, 86%);
    --input-color-border--hover: hsl(0, 0%, 66%);
    --input-border-radius: var(--border-radius--s);
    --input-font-size--default: var(--text-size--large);
    --input-font-size--small: var(--text-size--medium);
    --input-size-height--default: 40px;
    --input-size-height--small: 32px;

    // COMPONENT: ICON BUTTON
    --icon-button-border-radius: var(--border-radius--s);
    --icon-button-color-bg: transparent;
    --icon-button-color-bg--hover: hsl(0, 0%, 96%);

    --icon-button-color-icon--primary: var(--color-primary);
    --icon-button-color-icon--secondary: var(--icon-color--muted);
    --icon-button-color-icon--tertiary: var(--icon-color--muted-2);

    --icon-button-color-border--primary: transparent;
    --icon-button-color-border--primary-hover: var(--icon-button-color-fg);
    --icon-button-color-border--secondary: transparent;
    --icon-button-color-border--secondary-hover: var(--icon-button-color-fg);
    --icon-button-color-border--tertiary: transparent;
    --icon-button-color-border--tertiary-hover: var(--icon-button-color-fg);

    --icon-button-color-border: var(--color-line--light);

    --icon-button-size: 40px;
    --icon-button-size--small: 32px;


    // COMPONENT: CARD ITEM & SIMPLE CARD ITEM
    --card-item-border-radius: var(--border-radius--s);
    --card-item-color-bg: hsl(0,0%,100%);
    --card-item-shadow: 0px 1px 4px hsla(0, 0%, 0%, 0.24);
    --card-item-shadow--hover: 0px 1px 8px hsla(0, 0%, 0%, 0.32);
    --card-item-title-color: var(--color-text);
    --card-item-image-color-bg: hsl(223, 17%, 29%);
    --card-item-footer-border-color: var(--color-line--x-light);

    --simplecard-item-outline-color: transparent;
    --simplecard-item-outline-color--hover: var(--color-line--medium);
    --simplecard-item-border-color: transparent;
    --simplecard-item-border-color--hover: var(--color-line--x-light);
    --simplecard-item-padding: 6px 15px 10px 15px;

    // COMPONENT: SIDENAV
    --sidenav-size-width: 80px;
    --sidenav-color-bg:                 var(--color-primary);
    --sidenav-color-item-bg:            transparent;
    --sidenav-color-item-fg:            hsla(0, 0%, 100%, 1);
    --sidenav-color-item-bg--active:    hsla(0, 0%, 100%, 1);
    --sidenav-color-item-fg--active:    var(--color-primary);
    --sidenav-color-badge-bg:           hsla(0, 0%, 16%, 1);
    --sidenav-color-badge-fg:           hsla(0, 0%, 98%, 1);

    // COMPONENT: PROFILE MODAL
    --profile-header-height: 56px;
    --profile-header-title-font-size: var(--text-size--x-large);
    
    // COMPONENT: PROFILE SIDEBAR
    --profile-sidebar-color-bg:                              hsl(222, 10%, 85%);
    --profile-sidebar-color-fg:                              var(--color-text);
    --profile-sidebar-padding:                               var(--space--2);
    --profile-sidebar-padding--md:                           30px 40px;
    --profile-sidebar-width--md:                             300px;
    --profile-sidebar-button-color-bg--primary:              var(--button-color-bg--primary);
    --profile-sidebar-button-color-fg--primary:              var(--button-color-fg--primary);
    --profile-sidebar-button-color-bg--secondary:            transparent;
    --profile-sidebar-button-color-fg--secondary:            hsla(0, 0%, 100%, 0.75);
    --profile-sidebar-button-color-border--secondary:        hsla(0, 0%, 100%, 0.45);
    --profile-sidebar-button-color-fg--secondary-hover:      hsla(0, 0%, 100%, 0.98);
    --profile-sidebar-button-color-border--secondary-hover:  hsla(0, 0%, 100%, 0.65);
    // sidebar avatar
    --profile-sidebar-avatar-color-bg:                       hsl(222, 18%, 25%);
    --profile-sidebar-avatar-color-fg:                       hsl(222, 18%, 95%);
    --profile-sidebar-avatar-color-border:                   hsl(222, 7%, 57%);
    
    
    // COMPONENT: NEW BUTTONS
    --button-lightness-change--10: 10%;
    --button-lightness-change--20: 20%;

    --button-padding--small: 0 var(--space--1-5);
    --button-padding--large: 0 var(--space--2);
    --button-padding: var(--button-padding--large);
    --button-margin: 0;

    --button-border-radius: var(--border-radius--s);
    --button-font-family: var(--font-family-core--sans);
    --button-font-size: 0.75rem;
    --button-text-transform: uppercase;
    --button-letter-spacing: 0.04rem;
    --button-line-height: 1.1;
    --button-font-weight: 500;
    --button-icon-size--large: 24px;
    --button-icon-size--small: 20px;
    --button-gap: var(--space--1);
    --button-shadow-spread-radius: 3px;
    --button-height: var(--size-form-element--large);
    
    // Primary
    --button-color-bg--primary-base: 196, 100%;
    --button-color-bg--primary-l: 34%;
    --button-color-bg--primary: hsla(var(--button-color-bg--primary-base), var(--button-color-bg--primary-l), 1);
    --button-color-bg--primary-translucent: hsla(var(--button-color-bg--primary-base), var(--button-color-bg--primary-l), 0.25);
    --button-color-bg--primary-hover: hsla(var(--button-color-bg--primary-base), var(--button-color-bg--primary-l), 1);
    --button-color-fg--primary: hsla(0, 0%, 100%, 1);
    --button-color-border--primary: var(--button-color-bg--primary);
    --button-color-border--primary-hover: hsla(var(--button-color-bg--primary-base), calc(var(--button-color-bg--primary-l) - var(--button-lightness-change--10)), 1);
    --button-color-shadow--primary-hover: hsla(var(--button-color-bg--primary-base), calc(var(--button-color-bg--primary-l) - 25%), 0.25);

    // Secondary (Default)
    --button-color-bg--secondary-base: 0, 0%;
    --button-color-bg--secondary-l: 20%;
    --button-color-bg--secondary: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 0);
    --button-color-bg--secondary-translucent: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 0.25);
    --button-color-bg--secondary-hover: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 0);
    --button-color-fg--secondary: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 1);
    --button-color-border--secondary: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 0.7);
    --button-color-border--secondary-hover: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 1);
    --button-color-shadow--secondary-hover: hsla(var(--button-color-bg--secondary-base), var(--button-color-bg--secondary-l), 0.2);

    // Tertiary
    --button-color-bg--tertiary-base: 0, 0%;
    --button-color-bg--tertiary-l: 34%;
    --button-color-bg--tertiary: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0);
    --button-color-bg--tertiary-translucent: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0.25);
    --button-color-bg--tertiary-hover: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0);
    --button-color-fg--tertiary: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 1);
    --button-color-border--tertiary: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0.3);
    --button-color-border--tertiary-hover: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0.8);
    --button-color-shadow--tertiary-hover: hsla(var(--button-color-bg--tertiary-base), var(--button-color-bg--tertiary-l), 0.2);


    // COMPONENT: TOGGLE BUTTON
    --toggle-button-color-bg--active-base: 202, 10%;
    --toggle-button-color-bg--active-l: 45%;
    --toggle-button-color-bg--active: hsla(var(--toggle-button-color-bg--active-base), var(--toggle-button-color-bg--active-l), 1);
    --toggle-button-color-bg--active-translucent: hsla(var(--toggle-button-color-bg--active-base), var(--toggle-button-color-bg--active-l), 0.25);
    --toggle-button-color-bg--active-hover: hsla(var(--toggle-button-color-bg--active-base), calc(var(--toggle-button-color-bg--active-l) + var(--button-lightness-change--10)), 1);
    --toggle-button-color-shadow--active: hsla(var(--toggle-button-color-bg--active-base), calc(var(--toggle-button-color-bg--active-l) - var(--button-lightness-change--20)), 0.3);
    --toggle-button-color-bg: transparent;
    --toggle-button-color-fg: var(--color-text--muted);
    --toggle-button-color-fg--active: hsla(0, 0%, 100%, 1);
    --toggle-button-color-border: hsla(var(--toggle-button-color-bg--active-base), calc(var(--toggle-button-color-bg--active-l) - var(--button-lightness-change--10)), 0.6);
    --toggle-button-color-border-hover: hsla(var(--toggle-button-color-bg--active-base), calc(var(--toggle-button-color-bg--active-l) - var(--button-lightness-change--10)), 0.95);
    --toggle-button-border-radius: var(--border-radius--s);
    --toggle-button-padding: 0 1rem;
    --toggle-button-text-transform: uppercase;
    --toggle-button-height: var(--size-form-element--large);
    --toggle-button-height--small: var(--size-form-element--small);
    --toggle-button-font-weight: 500;
   
    // COMPONENT: FILTER PANE
    --color-filterpane-bg: hsl(0, 0%, 99%);
    --color-filterpane-text: hsl(0, 0%, 14%);

    // COMPONENT: COLLAPSIBLE BOX
    --collapsible-box-height: 48px;
    --collapsible-box-color-bg: hsla(0, 0%, 100%, 1);
    --collapsible-box-color-border: var(--color-line--light);
    --collapsible-box-color-border--active-within: var(--color-line--medium);
    --collapsible-box-shadow--active-within: inset 0 0 0 4px hsla(0, 0%, 0%, 0.04), 0 0 6px hsla(0, 0%, 0%, 0.12);
    --collapsible-box-header-color-bg: transparent;
    --collapsible-box-header-color-bg--hover: hsla(0, 0%, 96%, 1);
    --collapsible-box-header-color-bg--active: hsla(0, 0%, 92%, 1);
    --collapsible-box-padding-block: var(--space--1);
    --collapsible-box-padding-inline: var(--space--2);
    --collapsible-box-padding-inlinestart--hover: var(--space--3);

    // COMPONENT: TOPIC LIST (Side panel)
    --topic-list-item-font-size: var(--text-size--medium);
    --topic-list-item-color-fg: var(--color-text--muted);
    --topic-list-item-color-fg--hover: var(--color-text);
    --topic-list-item-color-fg--active: var(--color-interactive-focus);
    --topic-list-item-color-bg: transparent;
    --topic-list-item-color-bg--hover: hsla(0, 0%, 96%, 1);
    --topic-list-item-color-bg--active: hsla(0, 0%, 96%, 1);
    --topic-list-item-min-height: 40px;

    // COMPONENT: MAIN FOOTER
    --footer-size--height: 32px;
    --footer-color-bg: hsl(0, 0%, 90%);
    --footer-color-fg: var(--color-text);
    --footer-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.3);

    // COMPONENT: MULTI ACTION BAR
    --multi-action-bar-color-bg: hsl(196, 100%, 92%);

    // COMPONENT: CHECKBOX & RADIO & SWITCH
    --color-core-checked-bg: var(--button-color-bg--primary);
    --react-toggle-color-bg: hsl(0, 0%, 80%);
    --react-toggle-color-bg--checked: var(--color-core-checked-bg);
    --css-checkbox-color-bg--checked: var(--color-core-checked-bg);
    --css-checkbox-color-fg--checked: hsl(0, 0%, 100%);
    --form-check-color-bg--checked: var(--color-core-checked-bg);

    // COMPONENT: CONTENT LIST ITEM
    --content-list-item-padding: var(--space--2) var(--space--3);
    --content-list-item-border-radius: var(--border-radius--s);
    --content-list-item-color-bg: hsl(0,0%,100%);
    --content-list-item-color-bg--watched: hsl(222, 16%, 94%);
    --content-list-item-headline-font-size: var(--text-size--medium);
    --content-list-item-headline-font-weight: 700;
    --content-list-item-headline-font-family: var(--font-family-core--secondary);

    --content-list-item-text-font-size: var(--text-size--medium);
    --content-list-item-text-font-weight: 400;
    --content-list-item-text-font-family: var(--font-family-core--primary);

    // COMPONENT: CONTENT ITEM DETAIL
    --content-item-padding: var(--space--2) var(--space--3);

    --content-item-color-bg: hsl(0,0%,100%);

    --content-item-headline-font-size: var(--text-size--xx-large);
    --content-item-headline-font-size--large: 2.125rem; // 34px
    --content-item-headline-font-weight: 700;
    --content-item-headline-font-family: var(--font-family-core--secondary);
    --content-item-headline-line-height: 1.2;

    --content-item-text-font-size: var(--text-size--large);
    --content-item-text-line-height: 1.6;
    --content-item-text-font-weight: 300;
    --content-item-text-font-family: var(--font-family-core--secondary);

}

.line-shadow-end--light {
    box-shadow: var(--line-shadow-end--light);
}

.btn {
    height: 40px;
    display: inline-flex;
    [class^="icon--"],
    [class*=" icon--"] {
        color: inherit !important;
    }
}
.btn--small {
    height: 32px;
    padding-block: 0 !important;
}
.btn--icon-only {
    display: flex;
    align-items: center;
    padding: 0 8px !important;
    line-height: 1;
}

.icon--arrow-right {
    &.icon--collapsible-closed {
        transform: rotate(90deg);
    }
    &.icon--collapsible-open {
        transform: rotate(270deg);
    }
}

.react-toggle__wrapper {
    display: inline-flex;
    align-items: center;
    gap: var(--space--1);
    label {
        margin: 0 !important;
        color: var(--color-text--muted);
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        &:hover {
            cursor: pointer;
        }
    }
}
.icon-link--plain {
    display: inline-flex;
    align-items: center;
    gap: var(--space--1);
    color: var(--color-text);
    text-decoration: none;
    padding-inline: 4px;
    transition: all 0.2s ease;
    [class^="icon--"],
    [class*=" icon--"] {
        color: var(--color-text--muted);
        transition: all 0.2s ease;
    }
    .icon-link__text {
        color: var(--color-text--muted);
        font-size: 14px;
        font-weight: 400;
        display: inline-flex;
        line-height: 1;
    }
    &:hover {
        text-decoration: none;
        [class^="icon--"],
        [class*=" icon--"] {
            color: var(--color-text);
        }
    }
}
