// Custom buttons

.btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.04rem;
    white-space: normal;
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, $btn-border-radius);
    line-height: 1.2;
    transition: padding .2s ease-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block-start: 0;
    padding-block-end: 0;
    
    &.disabled,
    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
    &:hover {
      text-decoration: none;
    }
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}

// smaller button bellow xxl media query
.btn-responsive {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  
  @include xxl {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, $btn-border-radius);    
  }
}
.btn-with-icon {
  display: flex;
  align-items: center;

  [class^="icon--"], [class*=" icon--"] {
    margin-inline-end: 8px;
  }
  &:hover {
    [class^="icon--"], [class*=" icon--"], [class^="icon-"] {
      color: $white;
    }
  }
}

@mixin button-outline-variant($color, $color-hover: #fff, $border-color: $color) {
    color: $color;
    background-color: transparent;
    background-image: none;
    border-color: $border-color;
  
    &.hover {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }

    &.active {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }
  
    &:focus,
    &.focus {
      outline: none;
    }
    &:focus-visible {
      box-shadow: 0 0 0 1px rgba(0, 172, 236, .6), 0 0 3px 4px rgba(0, 172, 236, .4);
    }
  
    &.disabled,
    &:disabled {
      color: $color;
      background-color: transparent;
      opacity: .4;
      cursor: not-allowed;
    }
  
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
      box-shadow: 0 0 0 .2rem rgba($color, .5);
    }
    &:not([disabled]):not(.disabled).active {
      box-shadow: none;
    }
  }
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @if $color == "light" {
        @include button-outline-variant($value, $gray-900);
      } @else if $color == "secondary" {
        @include button-outline-variant($gray-600, white, $value);
      } 
      @else {
        @include button-outline-variant($value, $white);
      }
    }
  }

.btn-text-only {
  text-transform: initial;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  &:hover {
    border: 1px solid #999;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(109, 117, 126, .5);
  }
  span {
    font-weight: 400;
    color: #676C7B;
    margin: 0 3px;
  }
}
.btn-group--navbar {
  margin: 0 12px;
}

@mixin nh-button-base {
    --button-color-border: var(--button-color-border--secondary);
    --button-color-fg: var(--button-color-fg--secondary);
    --button-color-bg: var(--button-color-bg--secondary);
    --button-color-bg--hover: var(--button-color-bg--secondary-hover);
    --button-color-border--hover: var(--button-color-border--secondary-hover);
    --button-color-shadow--hover: var(--button-color-shadow--secondary-hover);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    letter-spacing: var(--button-letter-spacing);
    text-transform: var(--button-text-transform);
    text-decoration: none;
    white-space: normal;
    padding: var(--button-padding);
    margin: var(--button-margin);
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-color-border);
    background-color: var(--button-color-bg);
    color: var(--button-color-fg);
    
    gap: var(--button-gap);
    transition: all var(--transition-base);
    [class^="icon--"], [class*=" icon--"] {
        color: var(--button-color-fg);
        margin-inline-start: -6px;
        --icon-size: var(--button-icon-size--large);
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        border-color: var(--button-color-border--hover);
        background-color: var(--button-color-bg--hover);
        color: var(--button-color-fg) !important;
        box-shadow: inset 0 0 0 var(--button-shadow-spread-radius) var(--button-color-shadow--hover);
    }
    &:active {
        box-shadow: inset 0 0 0 calc(var(--button-shadow-spread-radius) + 2px) var(--button-color-shadow--hover);
        color: var(--button-color-fg) !important;
    }
    &.disabled,
    &:disabled {
        opacity: .5;
        cursor: not-allowed;
        &:hover {
            text-decoration: none;
            border-color: var(--button-color-border);
            background-color: var(--button-color-bg);
            box-shadow: none;
        }
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 1px solid var(--color-interactive-focus);
        box-shadow: 0 0 0 4px var(--color-interactive-focus--translucent);
    }
}

.nh-button {
    @include nh-button-base;

    &--primary {
        --button-color-border: var(--button-color-border--primary);
        --button-color-border--hover: var(--button-color-border--primary-hover);
        --button-color-fg: var(--button-color-fg--primary);
        --button-color-bg: var(--button-color-bg--primary);
        --button-color-bg--hover: var(--button-color-bg--primary-hover);
        --button-color-shadow--hover: var(--button-color-shadow--primary-hover);
    }
    &--secondary {
        --button-color-border: var(--button-color-border--secondary);
        --button-color-border--hover: var(--button-color-border--secondary-hover);
        --button-color-fg: var(--button-color-fg--secondary);
        --button-color-bg: var(--button-color-bg--secondary);
        --button-color-bg--hover: var(--button-color-bg--secondary-hover);
        --button-color-shadow--hover: var(--button-color-shadow--secondary-hover);
    }
    &--tertiary {
        --button-color-border: var(--button-color-border--tertiary);
        --button-color-border--hover: var(--button-color-border--tertiary-hover);
        --button-color-fg: var(--button-color-fg--tertiary);
        --button-color-bg: var(--button-color-bg--tertiary);
        --button-color-bg--hover: var(--button-color-bg--tertiary-hover);
        --button-color-shadow--hover: var(--button-color-shadow--tertiary-hover);
    }
    &--small {
        --button-shadow-spread-radius: 2px;
        --button-padding: var(--button-padding--small);
        --button-height: var(--size-form-element--small);
        [class^="icon--"], [class*=" icon--"] {
            margin-inline-start: -4px;
            --icon-size: var(--button-icon-size--small);
        }
    }
    &--active {
        --button-color-border: var(--button-color-border--secondary);
        --button-color-border--hover: var(--button-color-border--secondary-hover);
        --button-color-fg: var(--button-color-fg--secondary);
        --button-color-bg: var(--button-color-bg--secondary);
        --button-color-bg--hover: var(--button-color-bg--secondary-hover);
        --button-color-shadow--hover: var(--button-color-shadow--tertiary-hover);
        box-shadow: inset 0 0 0 var(--button-shadow-spread-radius) var(--button-color-shadow--hover);
    }
}

.nh-dropdown-button {
    @include nh-button-base;
    --button-color-border: var(--button-color-border--tertiary);
    --button-color-fg: var(--button-color-fg--secondary);
    --button-color-bg: var(--button-color-bg--tertiary);
    --button-color-bg--hover: var(--button-color-bg--secondary-tertiary);
    --button-color-border--hover: var(--button-color-border--tertiary-hover);
    --button-color-shadow--hover: var(--button-color-shadow--tertiary-hover);

    padding: 0 var(--space--1) 0 var(--space--2);
    margin: 0;
    font-size: var(--text-size--medium);
    letter-spacing: 0;
    text-transform: none;
    gap: var(--space--1);

    transition: all var(--transition-base);

    .nh-dropdown-button__text-label {
        color: var(--color-text--muted);
        font-weight: 400;
    }

    .nh-dropdown-button__caret {
        color: var(--color-text--muted);
        margin-inline-start: auto;
    }
    [class^="icon--"],
    [class*=" icon--"] {
        color: var(--color-text--muted);
        margin-inline-start: -6px;
        --icon-size: var(--button-icon-size--small);
    }

    &.nh-dropdown-button--stretch {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
    &--small {
        --button-shadow-spread-radius: 2px;
        --button-height: var(--size-form-element--small);
        padding: 0 var(--space--1) 0 var(--space--1-5);
        [class^="icon--"], [class*=" icon--"] {
            margin-inline-start: -4px;
            --icon-size: var(--button-icon-size--small);
        }
    }
    &--borderless,
    &--text-only {
        --button-color-border: transparent;
        --button-color-shadow--hover: transparent;
        --button-color-border--hover: var(--color-line--light);
        &:active {
            --button-shadow-spread-radius: 1px;
            --button-color-border--hover: var(--color-line--medium);
            --button-color-shadow--hover: var(--button-color-shadow--tertiary-hover);
        }
        
    }
    &--active {
        --button-color-fg: var(--color-interactive-focus);
    }
}

.nh-button__group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space--1);
    &--center {
        justify-content: center;
        margin-inline: auto;
    }
    &--left {
        justify-content: flex-start;
        margin-inline-end: auto;
    }
    &--right {
        justify-content: flex-end;
        margin-inline-start: auto;
        text-align: end;
    }
    &--vertical {
        flex-direction: column;
        align-items: stretch;
    }
}