// Serif font definition for publishable content parts of the application


h1.card-title, 
h2.card-title, 
h3.card-title, 
h4.card-title, 
h5.card-title {
    font-family: $font-family-serif;
}

.print-content {
    h1, h2, h3, h4, h5 {
        font-family: $font-family-serif;
    }
    .print-content__header {
        margin-block-end: 1.5rem;
        p {
            margin-block-end: 0px;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
    .print-content__body {
        h1 {
            font-size: 1.8rem;
        }
    }
}

