// Icon buttons

@mixin icon-button-base () {
    --icon-button-border-width: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    cursor: pointer;
    border-style: solid;
    border-color: var(--icon-button-color-border);
    border-width: var(--icon-button-border-width);
    border-radius: var(--icon-button-border-radius);
    transition: border-color var(--transition-base), box-shadow var(--transition-base);
    background-color: var(--icon-button-color-bg);
    color: var(--icon-button-color-fg);
    padding: 0 !important;
    [class^="icon--"], [class*=" icon--"] {
        color: var(--icon-button-color-fg);
    }
    @include xl {
        --icon-button-size: 40px;
    }
    @include xxl {
        --icon-button-size: 40px;
    }
    &:hover {
        border-color: var(--icon-button-color-border-hover);
        text-decoration: none;
        border-width: 1px;
    }
    &:focus {
        outline: 0;
    }
    &:focus-visible {
        box-shadow: 0 0 0 1px var(--color-interactive-focus), 0 0 0 3px var(--color-interactive-focus--translucent);
    }
    &:active {
        box-shadow: inset 0 0 0 3px var(--color-interactive-focus--translucent);
        border-color: var(--icon-button-color-fg);
    }
}

.icon-button {
    @include icon-button-base();
    --icon-button-color-fg: var(--icon-button-color-icon--secondary);
    --icon-button-color-border-hover: var(--icon-button-color-border--secondary-hover);

    &.icon-button--primary {
        --icon-button-color-fg: var(--icon-button-color-icon--primary);
        --icon-button-color-border-hover: var(--icon-button-color-border--primary-hover);
    }
    &.icon-button--secondary {
        --icon-button-color-fg: var(--icon-button-color-icon--secondary);
        --icon-button-color-border-hover: var(--icon-button-color-border--secondary-hover);
    }
    &.icon-button--tertiary {
        --icon-button-color-fg: var(--icon-button-color-icon--tertiary);
        --icon-button-color-border-hover: var(--icon-button-color-border--tertiary-hover);
    }
    &.icon-button--bordered {
        --icon-button-border-width: 1px;
    }
    &--border-three-sides {
        border-color: var(--color-line--light);
        border-width: 1px 1px 1px 0;
        border-radius: 0 var(--icon-button-border-radius) var(--icon-button-border-radius) 0;
        width: 38px;
    }
    &.icon-button--small {
        --icon-button-size: var(--icon-button-size--small);
        [class^="icon--"], [class*=" icon--"] {
            --icon-size: 20px;
        }
    }
}

.icon-button[disabled] {
    cursor: not-allowed;
    &:hover  {
        border-color: transparent !important;
        cursor: not-allowed;
    }
}
