// Labels

$label-bg-colors: (
    default:        var(--color-neutral-500),
    warning:        var(--color-warning),
    alert:          var(--color-alert),
    success:        var(--color-success),
    info:           var(--color-info),
    highlight:      var(--color-highlight2),
);

$label-bg-colors-translucent: (
    default:        alpha(var(--color-neutral-500), 0.25),
    warning:        alpha(var(--color-warning), 0.25),
    alert:          alpha(var(--color-alert), 0.25),
    success:        alpha(var(--color-success), 0.25),
    info:           alpha(var(--color-info), 0.25),
    highlight:      alpha(var(--color-highlight), 0.25),
);

$label-text-colors: (
    default:        var(--tag-label-txt-default),
    warning:        lightness(var(--color-warning), 0.65),
    alert:          lightness(var(--color-alert), 0.65),
    success:        lightness(var(--color-success), 0.65),
    info:           lightness(var(--color-info), 0.65),
    highlight:      var(--tag-label-txt-inverse),
);

$labels-palette: (
  blue: $main-blue,
  green: $green,
  green-dark: $green-dark,
  orange: $orange,
  orange2: $orange2,
  red: $red,
  available: $green,
  restricted: var(--color-text--muted),
  yellow: $yellow,
  gray-dark: $cool-gray-dark,
  gray-mid: $cool-gray-mid,
);

/// Generates base styles for a label.
@mixin label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--space--1-5);
    vertical-align: middle;
    border-radius: var(--border-radius--xs);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.125em;
    font-size: 10px;
    white-space: nowrap;
    cursor: default;
    border: 1px solid transparent;
    font-weight: 600;
    font-family: var(--font-family-core--sans);
    height: var(--label-height);
}

.label {
    @include label;
    --label-height: 20px;

    @each $name, $color in $label-bg-colors {
        &.label--#{$name} {
            color: $white;
            background-color: $color;
        }
    }

    &.label--big {
        --label-height: 24px;
        font-size: 11px;
        line-height: 1;
        padding: 0 var(--space--1-5);
    }

    &.label--hollow {
        @each $name, $color in $label-bg-colors {
            &.label--#{$name} {
                border: 1px solid $color;
                background-color: transparent !important;
                color: $color;
            }
        }
    }

    &.label--translucent {
        @each $name, $color in $label-bg-colors-translucent {
            &.label--#{$name} {
                background-color: $color;
            }
        }

        @each $name, $color in $label-text-colors {
            &.label--#{$name} {
                color: $color;
            }
        }
    }
}

.label--rounded {
    border-radius: var(--border-radius--full);
}

.label + .label {
    margin-inline-start: var(--space--1);
}
