// Labels

$labels-palette: (
  blue: $main-blue,
  green: $green,
  green-dark: $green-dark,
  orange: $orange,
  orange2: $orange2,
  red: $red,
  available: $green,
  restricted: var(--color-text--muted),
  yellow: $yellow
);

/// Generates base styles for a label.
@mixin label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--space--1);
    vertical-align: middle;
    border-radius: var(--border-radius--xs);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.125em;
    font-size: 9px;
    white-space: nowrap;
    cursor: default;
    border: 1px solid transparent;
    font-weight: 600;
    font-family: var(--font-family-core--sans);
    height: var(--label-height);
}

.label {
    @include label;
    --label-height: 20px;

    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-mid;
    color: $gray-mid;

    @each $name, $color in $labels-palette {
        &.label--#{$name} {
            border-color: transparent;
            color: $color;
            text-decoration-color: $color;
            background-color: rgba($color, 0.2);
        }
    }
    @each $name, $color in $labels-palette {
        &.label--rounded.label--#{$name} {
            background-color: rgba($color, 0.2);
        }
    }

    &.label--big,
    &.label--large {
        --label-height: 24px;
        font-size: 11px;
        line-height: 1;
        padding: 0 var(--space--1-5);
    }
    &.label--fill {
        @each $name, $color in $labels-palette {
            &.label--#{$name} {
                background-color: $color;
                border-color: $color;
                color: $white;
                text-decoration-color: $white;
            }
        }
    }
}

.label--rounded {
    --label-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--label-height);
    padding: 0 var(--space--1-5);
    border-radius: var(--border-radius--full);
    font-size: 10px;
    letter-spacing: 0.125em;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: default;
    border-color: transparent;
    font-weight: 600;
    background-color: hsla(0, 0%, 60%, 0.25);
    color: var(--color-text--muted);
    &.label--alert {
        background-color: alpha(var(--color-alert), 0.25);
        color: lightness(var(--color-alert), 0.85);
    }
    &.label--big,
    &.label--large {
        --label-height: 24px;
        font-size: 11px;
        line-height: 1;
        padding: 0 var(--space--1-5);
    }

}
.label + .label {
    margin-inline-start: var(--space--1);
}
