@import './breakpoints.scss';

.nav-tabs .nav-link {
    border-radius: 0;
}

.navbar {
    height: var(--navbar-height);

    @include phone {
        height: var(--navbar-height--mobile);
    }

    &.main {
        padding: 0px;
        color: var(--top-bar-color-fg);
        background-color: var(--top-bar-color-bg);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        z-index: 1007;
        flex: 0 0 auto;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .notif {
        width: var(--navbar-height);
        height: var(--navbar-height);
        display: flex;
        justify-content: center;
        align-items: center;

        @include phone {
            width: var(--navbar-height--mobile);
            height: var(--navbar-height--mobile);
        }

        .badge {
            inset-block-start: -7px;
            inset-inline-end: -7px;
        }
        &:hover .notif__circle {
            background: var(--top-bar-color-bg-notifications--hover);
            cursor: pointer;
        }

        &--small {
            height: 40px;
            width: 40px;
        }
    }
    .navbar__date {
        margin-inline-end: 0.5rem;
        display: none;
        color: var(--top-bar-color-fg);
        opacity: 0.7;
    
        @include md {
            display: block;
        }
    }
    .notif__circle {
        background: var(--top-bar-color-bg-notifications);
        width: 32px;
        height: 32px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notif__list {
        position: absolute;
        inset-block-start: var(--navbar-height--mobile);
        inset-block-end: 0px;
        background: $background-color;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
        min-width: 300px;
        overflow: auto;
        max-height: calc(100vh - 56px);
        z-index: 1000;
        @include sm {
            min-width: 420px;
        }
    }
    .notif__list__header {
        background: var(--color-background);
        border-inline-end: 1px solid var(--color-line--light);
        padding: 1rem 0;
    }
    .notif__list__header-headline {
        font-size: 1rem;
        color: var(--color-text);
        font-weight: 700;
    }
    .notif__list__message {
        padding: 10px 12px;
        margin: 10px;
    }
    .notif__list__item {
        background: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        border: 2px solid transparent;
        padding: 10px 12px;
        margin: 10px;
        &:hover {
            border: 2px solid #f5f5f5;
        }
        .close {
            width: 18px;
            height: 18px;
            background-color: #bbb;
            border-radius: 100%;
            color: white;
            font-size: 1.1rem;
            font-weight: 400;
            text-shadow: none;
            padding-inline-start: 1px;

            &:focus {
                outline: 0;
            }
        }
    }
    .notif__list__headline {
        font-size: 0.875rem; // 14px
        color: var(--color-text);
        font-weight: 700;
        line-height: 1.4;
        margin-block-end: 6px;
    }
    .notif__list__info {
        font-size: 0.75rem;
        color: $gray-mid;
        margin-block-end: 6px;
    }
}

.navbar {
    flex-shrink: 0;
    flex-grow: 0;
    gap: var(--space--1);
    &.navbar--flex {
        display: flex;
        align-items: center;
        padding-inline: 16px;
        padding-block: 0;
    }
    &.navbar--small {
        height: 40px;
    }
    .navbar__inner {
        display: flex;
        align-items: center;
        align-self: stretch;
        &--end {
            margin-inline-start: auto;
        }
        &--start {
            margin-inline-end: auto;
        }
    }
    &.navbar--auto-height {
        min-height: var(--navbar-height);
        height: auto;
        flex-shrink: 0;
    }
}

.navbar__button-group {
    display: flex;
    align-items: center;
    gap: var(--space--1);
}
.navbar__divider {
    display: inline-flex;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1px;
    border-inline-start: 1px solid var(--color-line--light);
    opacity: 0.75;
    margin-inline: var(--space--2);
    margin-block: var(--space--1);
}

.navbar-header {
    inset-block-start: 0px;
    z-index: 1007;
    width: 100vw;
    background-color: #2d2d2d;
    color: #969696;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;

    &_0 {
        width: 100vw;
        height: 40px !important;
        line-height: 38px;
        position: relative;
        padding: 0;
    }

    &_1 {
        font-family: "Merriweather";
        width: 100vw;
        color: #FFF;
        text-align: center;
        display: block;
        height: 100px;
        font-size: 60px;
        line-height: 102px;
    }

    &_nav_links {
        display: flex;
        height: 30px;
        justify-content: center;
        padding-block-start: 5px;

        a {
            color: #969696;
            margin: 0 10px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &_tagline {
        width: 50%;
        text-align: center;
        inset-inline-start: 25%;
        position: absolute;
    }
}

.navbar-header_1--small {
    height: 60px;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 0.5rem 0 0.5rem;
    max-width: 160px;

    @include sm {
        max-width: 224px;
        padding: 0 0.5rem 0.5rem 1rem;
    }

    @include md {
        padding-block-end: 0;
    }

    img {
        max-width: 100%;
    }

    a {
        line-height: 1.1;
        padding: 2px;
        &:focus {
            outline: none;
        }
        &:focus-visible {
            box-shadow: 0 0 0 1px rgba(0, 172, 236, .6), 0 0 3px 4px rgba(0, 172, 236, .4);
        }
    }

    &--small {
        max-width: 75px;
    }
}
.navbar-brand {
    display: flex;
    align-items: center;
    margin-block-start: 3.5px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    opacity: 1;
    line-height: 1.2rem;
    font-size: 1.125rem;
    font-weight: 400;
    @include sm {
        line-height: inherit;
        font-size: 1.75rem;
        margin-inline-start: 0.25rem;
        margin-inline-end: 1.5rem;
    }
    @include md {
        margin-block-start: 0;
        margin-inline-start: 0.5rem;
    }
    nav {
        display: flex;
        width: 100%;

        @include sm {
            flex-direction: row;
            align-items: center;
        }
    }
}
.navbar__right {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
    flex-shrink: 0;
    flex-grow: 0;
    
    &--login {
        padding-inline-end: 0.5rem;
        .nav-link {
            color: var(--color-text-link--navbar);
            &:hover {
                color: var(--color-text-link--navbar);
            }
        }
       
        @include sm {
            padding-inline-end: 1rem;
        }
    }
}

.header-profile {
    display: flex;
    flex-direction: column;
    width: var(--navbar-height);
    height: var(--navbar-height);
    background: var(--top-bar-color-bg-avatar-block);
    padding: var(--space--1);

    @include phone {
        width: var(--navbar-height--mobile);
        height: var(--navbar-height--mobile);
        padding: var(--space--0-5);
    }

    &:hover {
        cursor: pointer;
        .header-profile__avatar {
            background: var(--top-bar-color-bg-avatar--hover);
        }
    }
    // active state
    .show & {
        position: relative;
        background: #F7F7F7;
        z-index: 1002;
    }

    @include sm {
        margin-inline-start: 4px;
    }
}

.header-profile-toggle--small {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-profile {
        height: 33px !important;
        width: 33px !important;
        padding: 0;
        background: initial;
        flex-direction: row;
    }
}

.header-profile__avatar {
    background: var(--top-bar-color-bg-avatar);
    color: var(--top-bar-color-fg-avatar);
    border-radius: 50%;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-profile__characters {
    font-size: 0.875rem;
}

nav.search {
    width: 100%;
}

.nav-tabs--light {
    border: none;
    .nav-item {
        .nav-link {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--color-text);
            padding: 10px 0 6px 0 !important;
            margin: 0 12px;
            border: none;
            &:hover {
                text-decoration: none;
                color: var(--color-text--muted);
            }
            &.active {
                border-color: black;
                border-width: 0 0 4px 0;
                border-style: solid;
            }
        }
    }
}