.search-results__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-inline-start: 0;
}

.search-results__toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results__toggle-button {
    position: absolute;
    inset-block-start: 11px;
    cursor: pointer;
    width: 37px;
    height: 25px;
    border: 0;
    padding: 0;
    background-color: var(--color-background);
    z-index: 10;
    line-height: 0;
    border-radius: 0 0 22px 22px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.12s;
    outline: none;
    @include md {
        inset-block-start: 6px;
    }
}

.search-results__toggle-button:hover {
    height: 32px;
}

.search-results__toggle-button:focus {
    outline: none;
}

.search-results__toggle-button i {
    transition: all 0.5s;
    opacity: 0.75;
    transform: rotate(90deg);
    top: -3px;
    position: relative;
}

.search-results__toggle-button.active i {
    transform: rotate(-90deg);
}
.search-result__tags-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-inline: var(--space--1);
    list-style-type: none;
    width: 100%;
    container-type: inline-size;
    container-name: tags-list;
}

.search-result__tags-list-row {
    display: flex;
    flex-direction: row;
    padding-block: 12px;
    gap: var(--space--2);
    min-height: 56px;
    border-block-end: 1px dashed hsla(0, 0%, 20%, 0.2);
    &:last-child {
        border: none;
    }
    .tags-list {
        flex-grow: 1;
    }
    .search-result__tags-list-row-label {
        display: inline-flex;
        min-height: 32px;
        padding-block-start: var(--space--1);
        text-align: end;
        justify-content: flex-end;
        color: var(--color-text);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        width: 100px;
        word-wrap: normal;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
.tags-list-row__button-group {
    display: flex;
    align-items: center;
    gap: var(--space--1);
    margin-inline-start: auto;
}

.search-result-count {
    font-size: 18px;
    font-weight: 700;
}

// Container Query test
@container tags-list (max-width: 1000px) {
    .search-result__tags-list-row {
        flex-direction: column;
        gap: var(--space--1);
        .search-result__tags-list-row-label {
            text-align: start;
            justify-content: flex-start;
            padding-block-start: 0;
            width: auto;
            min-height: auto;
            order: 2;
        }
        .tags-list-row__button-group {
            order: 1;
        }
        .tags-list {
            order: 3;
        }
    }
}