.search-results__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-inline-start: 0;
}

.search-results__toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results__toggle-button {
    position: absolute;
    inset-block-start: 11px;
    cursor: pointer;
    width: 37px;
    height: 25px;
    border: 0;
    padding: 0;
    background-color: var(--color-background);
    z-index: 10;
    line-height: 0;
    border-radius: 0 0 22px 22px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.12s;
    outline: none;
    @include md {
        inset-block-start: 6px;
    }
}

.search-results__toggle-button:hover {
    height: 32px;
}

.search-results__toggle-button:focus {
    outline: none;
}

.search-results__toggle-button i {
    transition: all 0.5s;
    opacity: 0.75;
    transform: rotate(90deg);
    top: -3px;
    position: relative;
}

.search-results__toggle-button.active i {
    transform: rotate(-90deg);
}
.search-result__tags-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-inline: var(--space--2);
    list-style-type: none;
    width: 100%;
    container-type: inline-size;
    container-name: tags-list;
    background-color: var(--search-result-tags-list-color-bg);
    box-shadow: var(--search-result-tags-list-shadow-inner);
}

.search-result__tags-list-row {
    display: flex;
    flex-direction: row;
    padding-block: var(--space--0-5);
    gap: var(--space--2);
    //min-height: 56px;
    //border-block-start: 1px dashed hsla(0, 0%, 20%, 0.2);
    flex-shrink: 0;
    &:first-child {
        border: none;
    }
    &:last-child {
        padding-block-end: var(--space--1-5);
    }
    .tags-list {
        flex-grow: 1;
        gap: var(--space--0-5);
    }
    .search-result__tags-list-row-label {
        display: inline-flex;
        min-height: 32px;
        padding-block-start: var(--space--1);
        text-align: end;
        justify-content: flex-end;
        color: var(--color-text);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        width: 100px;
        word-wrap: normal;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &.search-result__tags-list-row--secondary {
        border-block-start: none;
        .search-result__tags-list-row-label {
            color: var(--color-text--muted);
            font-weight: 400;
        }
    }
    .search-result__tags-list-row-helper-text {
        display: inline-flex;
        align-items: center;
        min-height: 32px;
        padding-inline-start: var(--space--0-5);
        color: var(--color-text--muted);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        word-wrap: normal;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &.search-result__tags-list-row--sticky {
        position: sticky;
        inset-block-start: 0;
        z-index: 1;
        background-color: var(--search-result-tags-list-color-bg);
        box-shadow: inset 0 1px 3px -2px hsla(0, 0%, 0%, 0.2);
        padding-block-start: var(--space--1-5);
    }
}
.tags-list-row__button-group {
    display: flex;
    align-items: center;
    gap: var(--space--1);
    margin-inline-start: auto;
}

.search-result-count {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

// Container Query test
@container tags-list (max-width: 900px) {
    .search-result__tags-list-row {
        flex-direction: column;
        gap: var(--space--1);
        .search-result__tags-list-row-label {
            text-align: start;
            justify-content: flex-start;
            padding-block-start: 0;
            width: auto;
            min-height: auto;
            order: 2;
        }
        .tags-list-row__button-group {
            order: 1;
        }
        .tags-list,
        .toggle-button__group {
            order: 3;
        }
    }
}