.search-results__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-inline-start: 0;
}

.search-results__toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results__toggle-button {
    position: absolute;
    inset-block-start: 11px;
    cursor: pointer;
    width: 37px;
    height: 25px;
    border: 0;
    padding: 0;
    background-color: var(--background-color);
    z-index: 10;
    line-height: 0;
    border-radius: 0 0 22px 22px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.12s;
    outline: none;
    @include md {
        inset-block-start: 6px;
    }
}

.search-results__toggle-button:hover {
    height: 32px;
}

.search-results__toggle-button:focus {
    outline: none;
}

.search-results__toggle-button i {
    transition: all 0.5s;
    opacity: 0.75;
    transform: rotate(90deg);
    top: -3px;
    position: relative;
}

.search-results__toggle-button.active i {
    transform: rotate(-90deg);
}
