/*!! Only for this project purpose, NOT to copy to NH project !! */
@import '../../../../assets/styles/breakpoints.scss';

.navbar-brand {
  font-size: 14px;
}
.navbar {

  h6 {
    margin-block-end: 0;
    font-size: 14px;
    color: var(--color-text);
  }
  &.design {
    background-color:hsl(287, 100%, 92%);
    padding: 0 10px;
    height: 40px;
    display: none;
    border-radius: var(--border-radius--s);
    padding-inline: 16px;
    margin-inline: auto;
    align-self: center;
    .navbar-nav {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-inline-start: 8px;
    }

    a.nav-link {
      color:green !important;
      font-weight: 500;
    }

    @include lg {
      display: flex;
    }
  }
}

.color-swatches {
  display: flex;
  height: 48px;
  align-items: stretch;
  justify-content: stretch;
  span {
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-align: center;
  }
}