/*!! Only for this project purpose, NOT to copy to NH project !! */
@import '../../../../assets/styles/breakpoints.scss';

.navbar-brand {
  font-size: 14px;
}
.navbar {

  h6 {
    margin-block-end: 0;
    font-size: 14px;
    color: var(--color-text);
  }
  &.design {
    background-color:hsl(287, 100%, 92%);
    padding: 0 10px;
    height: 40px;
    display: none;
    border-radius: var(--border-radius--s);
    padding-inline: 16px;
    margin-inline: auto;
    .navbar-nav {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-inline-start: 8px;
    }

    a.nav-link {
      color:green !important;
      font-weight: 500;
    }

    @include lg {
      display: flex;
    }
  }
}
