:root {
    /* CORE: TYPOGRAPHY */
    --font-family-core--sans: "Lato", sans-serif;
    --font-family-core--serif: "Titillium Web", sans-serif;

    --color-background:     hsl(0, 0%, 97%);
    --badge-bg-highlight1:  hsl(356, 72%, 46%);
    --color-primary:        hsl(356, 72%, 46%);

    --color-home-section-heading: var(--color-text);

    --color-interactive-focus-base: 356, 72%;
    --color-interactive-focus-l: 46%;

    /* LOGIN PAGE */
    --login-page-color-bg: hsl(0, 3%, 15%);

    /* COMPONENT: NAVBAR MAIN */
    --top-bar-color-bg: hsl(0, 0%, 18%);
    --top-bar-color-fg: hsl(0, 0%, 100%);
    --top-bar-color-bg-notifications: hsla(216, 45%, 4%, 0.3);
    --top-bar-color-bg-notifications--hover: hsla(216, 45%, 0%, 0.5);
    --top-bar-color-bg-avatar-block: hsla(216, 45%, 4%, 0);
    --top-bar-color-bg-avatar: hsla(216, 45%, 4%, 0.3);
    --top-bar-color-bg-avatar--hover: hsla(216, 45%, 4%, 0.5);
    --top-bar-color-bg-badge: hsl(0, 0%, 100%);
    --top-bar-color-fg-badge: hsl(0, 3%, 15%);
    --color-text-link--navbar: hsl(0, 0%, 100%);
    /* Logo main */
    --top-bar-logo-main-max-width: 224px;
    --top-bar-logo-main-max-width--mobile: 160px;
    --top-bar-logo-main-margin-top: -9px;
    --top-bar-logo-main-margin-top--mobile: -6px;
    /* Logo additional */
    --top-bar-logo-additional-display: flex;
    --top-bar-logo-additional-max-width: 78px;
    --top-bar-logo-additional-min-width--mobile: 0px;
    --top-bar-logo-additional-padding-y: 12px;
    --top-bar-logo-additional-padding-x: 0;
    /* Navbar Brand */
    --top-bar-nav-brand-margin-x: 0;
    --top-bar-nav-brand-margin-y: 16px;
    --top-bar-nav-brand-padding-x: 16px;
    --top-bar-nav-brand-border-color: hsla(0, 0%, 100%, 0.4);
    --top-bar-nav-brand-border-type: solid;

    /* COMPONENT: SIDENAV */
    --sidenav-color-bg:                     var(--color-primary);
    --sidenav-color-item-bg--active:        hsla(0, 0%, 100%, 1);
    --sidenav-color-item-fg--active:        hsl(356, 72%, 46%);
    --sidenav-color-badge-bg:               hsla(0, 0%, 18%, 1);
    --sidenav-color-badge-bg--active:       hsla(0, 0%, 18%, 1);
    --sidenav-color-badge-fg:               hsla(0, 0%, 98%, 1);
    --sidenav-color-badge-fg--active:       hsla(0, 0%, 98%, 1);

    /* COMPONENT: BUTTONS */
    /* // Primary */
    --button-color-bg--primary-base: 356, 72%;
    --button-color-bg--primary-l: 46%;

    /* COMPONENT: ICON BUTTON */
    /* // Primary */
    --icon-button-color-icon--primary: hsl(0, 3%, 15%);
    --icon-button-color-border--primary-hover: var(--icon-button-color-fg);
    --icon-button-shadow-primary--active: var(--icon-button-shadow--active);

    /* COMPONENT: PROFILE SIDEBAR */
    --profile-sidebar-color-bg:                hsl(0, 0%, 88%);
    --profile-sidebar-color-fg:                var(--color-text);
    --profile-sidebar-button-color-fg--secondary:            hsla(0, 0%, 10%, 0.75);
    --profile-sidebar-button-color-border--secondary:        hsla(0, 0%, 10%, 0.45);
    --profile-sidebar-button-color-fg--secondary-hover:      hsla(0, 0%, 10%, 0.98);
    --profile-sidebar-button-color-border--secondary-hover:  hsla(0, 0%, 10%, 0.65);
    /* // sidebar avatar */
    --profile-sidebar-avatar-color-bg:         hsl(0, 0%, 14%);
    --profile-sidebar-avatar-color-fg:         hsl(0, 0%, 99%);
    --profile-sidebar-avatar-color-border:     hsl(0, 0%, 60%);

    /* COMPONENT: MAIN FOOTER */
    --footer-size--height: 48px;
    
    /* COMPONENT: ALERTIFY NOTIFIER */
    --ajs-message-color-bg--success: hsl(0, 3%, 15%);

    /* COMPONENT: SEARCH RESULT PANEL (Tags list) */
    --search-result-tags-list-color-bg: var(--main-header-color-bg);

    /* COMPONENT: WIRE ARTICLE (WireLabel) */
    --label-color-bg-wire-latest: var(--color-warning);
    --label-color-bg-wire-alert: var(--color-alert);
    --label-color-bg-wire-advisory: var(--color-success);
    --label-color-bg-wire-press-release: var(--color-info);

    /* COMPONENT: MULTI-DAY LABEL */
    --multiday-label-color-bg: var(--color-info);
}

.navbar__logo img.navbar__logo-img--fr {
    max-width: 200px;
    margin-block-start: 0;
}

.navbar__additional-logo img.navbar__additional-logo-img {
    width: var(--top-bar-logo-additional-max-width);
}
.navbar__additional-logo img.navbar__additional-logo-img.navbar__additional-logo-img--fr {
    width: 120px;
}

@media only screen and (max-width: 575px) {
    .navbar__logo img.navbar__logo-img--fr {
        margin-block-start: 0;
        max-width: 160px;
    }
}
