:root {    
    --color-background:     hsl(0, 0%, 97%);
    --badge-bg-highlight1:  hsl(356, 72%, 46%);
    --color-primary:        hsl(356, 72%, 46%);
    --top-bar-color-bg:     hsl(0, 3%, 15%);

    --sidenav-color-bg: var(--color-primary);

    --color-home-section-heading: var(--color-text);

    --top-bar-color-bg: hsl(0, 0%, 18%);
    --top-bar-color-fg: hsl(0, 0%, 100%);

    --color-interactive-focus-base: 356, 72%;
    --color-interactive-focus-l: 46%;

    /* CORE: TYPOGRAPHY */
    --font-family-core--sans: "Lato", sans-serif;
    --font-family-core--serif: "Titilium Web", sans-serif;

    // COMPONENT: BUTTONS
    // Primary
    --button-color-bg--primary-base: 356, 72%;
    --button-color-bg--primary-l: 46%;

    // COMPONENT: PROFILE SIDEBAR
    --profile-sidebar-color-bg:                hsl(0, 0%, 88%);
    --profile-sidebar-color-fg:                var(--color-text);
    --profile-sidebar-button-color-fg--secondary:            hsla(0, 0%, 10%, 0.75);
    --profile-sidebar-button-color-border--secondary:        hsla(0, 0%, 10%, 0.45);
    --profile-sidebar-button-color-fg--secondary-hover:      hsla(0, 0%, 10%, 0.98);
    --profile-sidebar-button-color-border--secondary-hover:  hsla(0, 0%, 10%, 0.65);
    // sidebar avatar
    --profile-sidebar-avatar-color-bg:         hsl(0, 0%, 14%);
    --profile-sidebar-avatar-color-fg:         hsl(0, 0%, 99%);
    --profile-sidebar-avatar-color-border:     hsl(0, 0%, 60%);

    // COMPONENT: MAIN FOOTER
    --footer-size--height: 48px;
}