@import '../../styles/breakpoints';

.user-profile__app--overlay {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    opacity: 0.15;
    background-color: black;
}

.my-topics__form-params {
    margin-block-start: 1rem;
}
