name: "CI"

on:
  [push, pull_request]

jobs:

  server:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.10']

    steps:
      - uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: docker-compose
        run: docker-compose -f .actions-docker-compose.yml up -d

      - run: |
             sudo apt-get update
             sudo apt-get install pkg-config libxml2-dev libxmlsec1-dev libxmlsec1-openssl

      - name: pip install
        run: |
             python -m pip install --upgrade pip wheel setuptools
             pip install -r dev-requirements.txt

      - name: pytest
        run: pytest --ignore=tests/aap/ --disable-pytest-warnings --cov=newsroom

      - name: behave (API)
        run: behave --format progress2 --logging-level=ERROR features/news_api
      - name: behave (Web)
        run: behave --format progress2 --logging-level=ERROR features/web_api

  client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: cache npm
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm
            ${{ runner.os }}-

      - name: npm ci
        run: npm ci

      - name: lint
        run: npm run lint

      - name: test
        run: npm run test

      - name: build
        run: npm run build
